<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .container {
      /* border: 1px dashed; */
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      background-color: #eee;
      padding: 2rem 1rem;
    }

    img {
      width: 100%;
    }
  </style>

  <h1>Article</h1>

  <div class="container">
    <div class="content">
      <h1>Title</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Doloribus labore distinctio facere earum alias omnis voluptatum itaque? 
        Adipisci, soluta odio quia, accusantium deleniti incidunt quibusdam 
        assumenda debitis molestias veritatis vero?
      </p>
    </div>
    <img src="../../img/Timon.webp" alt="">
  </div>
  
</body>
</html>