<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Avatar</h1>

  <style>
    .container {
      /* border: 1px dashed; */
      display: inline-flex;
      align-items: center;
    }

    img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
      border-radius: 2rem;
    }

    .item {
      margin-left: 0.5rem;
    }

    h3 {
      margin: 0;
    }

    .full-name {
      color: #888;
      font-size: 0.875rem;
    }
  </style>

  <div class="container">
    <img src="https://media.istockphoto.com/id/1334070091/photo/pensive-bengal-cat-in-a-blue-tie-near-a-laptop-and-a-diary-sits-home-office-remote-work.jpg?s=612x612&w=0&k=20&c=vBp3dCwUVKXDxga-dESreruuLN24rAZYNr7Asc6KdtI=" alt="">
    <div class="item">
      <h3 class="username">cat</h3>
      <span class="full-name">Kitty</span>
    </div>
  </div>

</body>
</html>