<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Card</h1>

  <style>
    .container {
      /* border: 1px dashed; */
      width: 16rem;
      padding: 0.75rem;
      box-shadow: 0 0 10px #ddd;
    }

    img {
      width: inherit;
    }

    .position {
      color: #888;
    }

    .contact-btn {
      border: none;
      background-color: #eee;
      width: inherit;
      padding: 0.5rem;
      font-size: 1rem;
    }
  </style>

  <div class="container">
    <img src="https://media.istockphoto.com/id/1334070091/photo/pensive-bengal-cat-in-a-blue-tie-near-a-laptop-and-a-diary-sits-home-office-remote-work.jpg?s=612x612&w=0&k=20&c=vBp3dCwUVKXDxga-dESreruuLN24rAZYNr7Asc6KdtI=" alt="">
    <h3>Kitty</h3>
    <p class="position">CEO</p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
      Doloribus in corporis illo.
    </p>
    <button class="contact-btn">Send an E-mail</button>
  </div>
  
</body>
</html>