<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Card</h1>

  <style>
    .card {
      /* border: 1px dashed; */
      width: 16rem;
      box-shadow: 0 0 10px #ddd;
    }

    img {
      width: inherit;
    }

    .card-inner {
      padding: 0 1rem 1rem;
    }

    .role {
      color: #888;
    }

    .contact-btn {
      border: none;
      background-color: #eee;
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
    }
  </style>

  <div class="card">
    <img src="https://tvvmvn.github.io/front-end/img/Pumbaa.webp" alt="">
    <div class="card-inner">
      <h3>Pumbaa</h3>
      <p class="role">CEO</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Doloribus in corporis illo.
      </p>
      <button class="contact-btn">Send an E-mail</button>
    </div>
  </div>
  
</body>
</html>