<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    body {
      margin: 0;
    }

    .container {
      /* border: 1px dashed; */
      height: 300px;
    }

    .text-composer {
      max-width: 640px;
      height: inherit;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }

    .bg-image {
      background-image: linear-gradient(to right, #0ef, #0bf);
    }
    
    .text {
      color: #fff;
      text-align: center;
    }
  </style>

  <div class="container bg-image">
    <div class="text-composer">
      <h1 class="text">Text on main image</h1>
    </div>
  </div>

</body>
</html>