<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Thumbnail</h1>

  <style>
    .container {
      /* border: 1px dashed; */
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .bg-image {
      background-image: url('https://tvvmvn.github.io/front-end/img/Pumbaa.webp');
      background-position: center;
      background-size: cover;
    }

    .overlay {
      background-color: rgba(0 0 0 / 0.5);
      color: #fff;
      padding: 0 1rem;
    }
  </style>

  <div class="container bg-image">
    <div class="overlay">
      <h1>Title</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        In sequi quibusdam dolor quam maiores possimus nisi ut corrupti nihil,
      </p>
    </div>
  </div>

  
</body>
</html>