<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    body {
      height: 1000px;
    }

    nav {
      border-bottom: 1px solid #ddd;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    a {
      display: block;
      padding: 0.5rem;
    }

    a:hover {
      background-color: #eee;
    }

    main {
      margin-top: 4rem;
    }
  </style>

  <nav>
    <ul>
      <li>
        <a href="#">Link</a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
    </ul>
  </nav>

  <main>
    <h1>Nav Bar</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni officiis asperiores nulla suscipit maxime vero, alias quo, aut ducimus in, saepe fugit quam. Officiis nulla alias distinctio autem porro quia!
    </p>
  </main>

</body>
</html>