extends layout

block content
  h1= title

  h3= (username ? `hi ${username}` : "Not logged in")

  ul 
    each post in posts 
      li
        a(href=`/p/${post}`)= post.split('.')[0]

  a(href="/create") New Post