<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    input {
      display: none;
    }

    label {
      display: inline-block;
      padding: 0.5rem;
    }

    input:checked + label {
      background-color: #000;
      color: #fff;
    }

    .hidden {
      display: none;
    }
  </style>

  <h1>Filter button</h1>

  <div class="">
    <input type="radio" name="car" id="all" checked>
    <label for="all" onclick="f('all')">
      All
    </label>
    <input type="radio" name="car" id="kr">
    <label for="kr" onclick="f('kr')">
      Korea
    </label>
    <input type="radio" name="car" id="jp">
    <label for="jp" onclick="f('jp')">
      Japan
    </label>
    <input type="radio" name="car" id="se">
    <label for="se" onclick="f('se')">
      Sweden
    </label>
  </div>

  <ul>
    <li class="item kr">Hyundai</li>
    <li class="item kr">Kia</li>
    <li class="item jp">Toyota</li>
    <li class="item jp">Honda</li>
    <li class="item jp">Lexus</li>
    <li class="item se">Volvo</li>
  </ul>

  <script>
    var items = document.getElementsByClassName("item");

    function f(filter) {
      
      console.log("filter:", filter);

      for (var i=0; i<items.length; i++) {
        if (filter == "all") {
          items[i].classList.remove("hidden");
        } else {
          if (items[i].classList.contains(filter)) {
            items[i].classList.remove("hidden");
          } else {
            items[i].classList.add("hidden");
          }
        }
      }
    }
  </script>

</body>

</html>