<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    input {
      width: 100%;  
      padding: 0.5rem;
      box-sizing: border-box;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      padding: 0 0.5rem;
    }
    
    .item {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
    }

    .delete-btn {
      cursor: pointer;
    }

    .hidden {
      display: none;
    }
  </style>


  <h1>Search history</h1>

  <input type="search" placeholder="Search Google" disabled>

  <ul>
    <li class="item">
      <span>I believe I can fly</span>
      <span class="delete-btn" onclick="deleteItem(0)">&times;</span>
    </li>
    <li class="item">
      <span>I believe I can touch the sky</span>
      <span class="delete-btn" onclick="deleteItem(1)">&times;</span>
    </li>
    <li class="item">
      <span>I think about it every night and day</span>
      <span class="delete-btn" onclick="deleteItem(2)">&times;</span>
    </li>
    <li class="item"> 
      <span>Spread my wings and fly away</span>
      <span class="delete-btn" onclick="deleteItem(3)">&times;</span>
    </li>
  </ul>


  <script>
    var items = document.getElementsByClassName("item");
    
    function deleteItem(index) {
      items[index].classList.add("hidden");
    }
  </script>
  
</body>
</html>