<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    label {
      display: block;
      margin-bottom: 0.25rem;
    }

    #input {
      width: 20rem;
      box-sizing: border-box;
      padding: 0.5rem;
    }

    .success {
      color: #0a0;
    }

    .warning {
      color: #f00;
    }
  </style>
  
  <h1>Live validator</h1>

  <label for="input">Password</label>
  <input type="text" id="input">

  <p id="message"></p>

  <script>
    var input = document.getElementById('input');
    var message = document.getElementById("message");
    var lowerCasePatt = /[a-z]/
    var upperCasePatt = /[A-Z]/
    var numberPatt = /[0-9]/

    /*
      * Regular expression
      A pattern to validate string.
      It has some methods to implement validataion 

      1 value 
      /pattern/

      2 methods 
      test(string to validate)

      return Boolean for validation results
    */

    input.addEventListener('keyup', handleKeyup);

    function handleKeyup() {
      var password = this.value;

      console.log("password:", password);

      try {
        if (!password) {
          throw 'Password is required';
        }

        if (!lowerCasePatt.test(password)) {
          throw "Password must contain at least one lowercase letter";
        }

        if (!upperCasePatt.test(password)) {
          throw "Password must contain at least one uppercase letter";
        }

        if (!numberPatt.test(password)) {
          throw "Password must contain at least one number";
        }

        if (password.length < 8) {
          throw "Password must be at least 8 letters";
        }

        message.innerHTML = `<span class="success">Accepted</span>`;

      } catch (error) {
        message.innerHTML = `<span class="warning">${error}</span>`;  
      } 
    }
  </script>

</body>
</html>