<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    label {
      display: block;
      font-weight: bold;
    }

    input {
      padding: 0.5rem;
      width: 12rem;
      transition: 0.2s;
      outline: none;
    }

    .red {
      color: red;
    }

    .green {
      color: green;
    }
  </style>
  
  <h1>Validate username</h1>

  <form action="">
    <label for="">Username</label>
    <input type="text">
    <p></p>
  </form>

  <script>
    let input = document.querySelector('input');
    let p = document.querySelector('p');
    
    input.addEventListener('keyup', (e) => {
      try {
        
        let username = e.target.value;

        if (!username) {
          throw 'Username is required'
        }

        if (username.length < 5) {
          throw 'Username is too short'
        }

        p.innerHTML = `
          <span class="green">
            Awesome username
          </span>
        `

      } catch (err) {
        
        p.innerHTML = `
          <span class="red">
            ${err}
          </span>
        `
      }
    })
  </script>

</body>
</html>