<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
      color: #000;
    }
  </style>
</head>
<body>

  <h1>JS Components</h1>

  <h3>Buttons</h3>
  <ol>
    <li>
      <a href="./button/likes.html">Likes button</a>
    </li>
    <li>
      <a href="./button/password-toggle.html">Password toggle</a>
    </li>
    <li>
      <a href="./button/see-more-btn.html">See more button</a>
    </li>
    <li>
      <a href="./button/top-button.html">Top button</a>
    </li>
  </ol>
  
  <h3>Navigation</h3>
  <ol>
    <li>
      <a href="./nav/nav-bar.html">NavBar</a>
    </li>
    <li>
      <a href="./nav/transparent-nav.html">Transparent NavBar</a>
    </li>
    <li>
      <a href="./nav/side-bar.html">Side bar</a>
    </li>
    <li>
      <a href="./nav/side-bar-cover.html">Side bar on cover</a>
    </li>
    <li>
      <a href="./nav/switch-nav.html">Switch nav</a>
    </li>
  </ol>

  <h3>Form</h3>
  <ol>
    <li>
      <a href="./form/filter-btn.html">Filter button</a>
    </li>
    <li>
      <a href="./form/menu.html">Menu</a>
    </li>
    <li>
      <a href="./form/live-search.html">Live search</a>
    </li>
    <li>
      <a href="./form/search-history.html">Search history</a>
    </li>
    <li>
      <a href="./form/subscribe.html">Newsletter subscribe</a>
    </li>
    <li>
      <a href="./form/contact-form.html">Contact form</a>
    </li>
    <li>
      <a href="./form/live-validator.html">Live validator</a>
    </li>
  </ol>

  <h3>Image</h3>
  <ol>
    <li>
      <a href="./image/photo-review.html">Photo review</a>
    </li>
    <li>
      <a href="./image/auto-album.html">Auto album</a>
    </li>
    <li>
      <a href="./image/carousel/index.html">Carousel</a>
    </li>
  </ol>

  <h3>Modal</h3>
  <ol>
    <li>
      <a href="./modal/modal-btn.html">Open modal</a>
    </li>
    <li>
      <a href="./modal/modal-gallery.html">Modal Gallery</a>
    </li>
  </ol>
  
  <h3>Others</h3>
  <ol>
    <li>
      <a href="./others/accordion.html">Accordion</a>
    </li>
    <li>
      <a href="./others/tab-content.html">Tab content</a>
    </li>
    <li>
      <a href="./others/theme.html">Choice theme</a>
    </li>
    <li>
      <a href="./others/block-promo.html">Block promo</a>
    </li>
    <li>
      <a href="./others/drag-and-drop.html">Drag and Drop</a>
    </li>
    <li>
      <a href="./others/born-effect.html">Born effect</a>
    </li>
    <li>
      <a href="./others/pop-on-scroll.html">Pop on scroll</a>
    </li>
  </ol>

  <h3>Deep Dive</h3>
  <ol>
    <li>
      <a href="./deep-dive/sticky-notes/index.html">Sticky notes</a>
    </li>
    <li>
      <a href="./deep-dive/image-editor/index.html">JS Image Editor</a>
    </li>
    <li>
      <a href="./deep-dive/spa/index.html">SPA</a>
    </li>
  </ol>
  
</body>
</html>