<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    .container {
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      position: relative;
      padding: 1rem;
    }
    
    .title {
      margin-top: 0;
    }
    
    .content {
      margin: 0;
    }

    .close-btn {
      font-size: 1.5rem;
      position: absolute;
      top: 0.25rem;
      right: 0.5rem;
    }
  </style>

  <h1>Close button</h1>
  
  <div class="container">
    <span class="close-btn">&times;</span>
    <h3 class="title">Message for you!</h3>
    <p class="content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Iste esse quis quisquam tempore incidunt, dolores impedit, 
      et sapiente in omnis provident at? 
      Voluptates eaque inventore possimus deleniti, 
      maxime quos sapiente?
    </p>
  </div>

</body>
</html>