<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    .container {
      background-color: #eee;
      position: relative;
      padding: 1rem;
    }
    
    .title {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    
    .content {
      margin: 0;
    }

    .close-btn {
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 0.25rem;
    }
  </style>

  <h1>close button</h1>
  
  <div class="container">
    <span class="close-btn">&times;</span>
    <h3 class="title">Message</h3>
    <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>

</body>
</html>