<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Counting Button</h1>

  <p id="demo">0</p>
  <button id="btn">+</button>

  <script>
    var btn = document.getElementById("btn");
    var demo = document.getElementById("demo");
    var count = 0;

    btn.addEventListener("click", function () {
      count++;
      demo.textContent = count;
    })
  </script>
  
</body>
</html>