<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Menu button</h1>

  <style>
    .bars {
      width: 50px;
      height: 20px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .bar {
      width: inherit;
      height: 4px;
      background-color: #000;
      transition: transform 0.2s;
    }

    .bars:hover .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }

    .bars:hover .bar:last-child {
      transform: translateY(-8px) rotate(-45deg);
    }
  </style>

  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

</body>

</html>