<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Pagination</h1>

  <style>
    .container {
      display: flex;
    }

    .link {
      padding: 0.5rem;
      text-decoration: none;
      color: #000;
    }

    .link:hover {
      background-color: #333;
      color: #fff;
    }
  </style>


  <div class="container">
    <a href="#" class="link">1</a>
    <a href="#" class="link">2</a>
    <a href="#" class="link">3</a>
    <a href="#" class="link">&#10095;</a>
  </div>
  
</body>
</html>