<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Password toggle</h1>

  <style>
    #container {
      position: relative;
      display: inline-block;
    }

    #input {
      padding: 0.5rem;
      width: 16rem;
    }

    #btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0 1rem;
      font-weight: 600;
    }
  </style>

  <div id="container">
    <input id="input" type="password" value="123">
    <button id="btn">Show</button>
  </div>

  <script>
    var input = document.getElementById('input');
    var btn = document.getElementById('btn');

    btn.addEventListener('click', () => {
      if (input.type === 'text') {
        btn.textContent = 'Show';
        input.type = 'password';
      } else {
        btn.textContent = 'Hide';
        input.type = 'text';
      }
    })
  </script>
  
</body>
</html>