<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>See more button</h1>

  <style>
    #container {
      display: inline;
    }

    #btn {
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: #888;
      padding: 0;
    }
  </style>

  <p id="container">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Itaque ut odit commodi officiis fugiat praesentium, 
    eum aut tenetur porro sint voluptate repellendus ab laudantium dolor, 
    quasi id ea obcaecati eaque?
  </p>

  <button id="btn">more</button>

  <script>  
    var container = document.getElementById("container");
    var btn = document.getElementById("btn");
    var content = container.textContent;

    container.textContent = content.substring(0, 50) + "...";

    btn.addEventListener("click", function () {
      container.textContent = content;
      btn.remove();
    })
  </script>

</body>
</html> 