<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Subscribe</h1>

  <style>
    #subscribe-btn {
      padding: 0.5rem;
      background-color: #d00;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-weight: 600;
    }

    #cancel-btn {
      padding: 0.5rem;
      background-color: #333;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-weight: 600;
    }

    .hidden {
      display: none;
    }
  </style>

  <p>Subscribers: <span id="count">999</span></p>
  <button id="subscribe-btn">Subscribe</button>
  <button id="cancel-btn" class="hidden">Subscribed</button>
  
  <script>
    var count = document.getElementById('count');
    var subscribeBtn = document.getElementById('subscribe-btn');
    var cancelBtn = document.getElementById('cancel-btn');

    subscribeBtn.addEventListener('click', function () {
      subscribeBtn.classList.add('hidden')
      cancelBtn.classList.remove('hidden')
      count.textContent = parseFloat(count.textContent) + 1;
    })

    cancelBtn.addEventListener('click', function () {
      subscribeBtn.classList.remove('hidden')
      cancelBtn.classList.add('hidden')
      count.textContent = parseFloat(count.textContent) - 1;
    })
  </script>

</body>
</html>