<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Subscribe</h1>

  <style>
    #subscribe-btn {
      padding: 0.5rem;
      background-color: #b00;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
    #subscribed-btn {
      padding: 0.5rem;
      background-color: #333;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
  </style>

  <p>Subscribers: <span id="count">999</span></p>
  <button id="subscribe-btn" onclick="subscribe(true)">Subscribe</button>
  <button id="subscribed-btn" onclick="subscribe(false)" class="hidden">Subscribed</button>
  
  <script>
    var count = document.getElementById('count');
    var subscribeBtn = document.getElementById('subscribe-btn');
    var subscribedBtn = document.getElementById('subscribed-btn');

    function subscribe(subscribed) {
      if (subscribed) {
        subscribeBtn.classList.add('hidden')
        subscribedBtn.classList.remove('hidden')
      } else {
        subscribedBtn.classList.add('hidden')
        subscribeBtn.classList.remove('hidden')
      }      
    }

  </script>

</body>
</html>