<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    button {
      border: none;
      background-color: #fff;
    }

    #hot.active {
      background-color: #f00;
      color: #fff;
    }

    #iced.active {
      background-color: #00f;
      color: #fff;
    }

    .hidden {
      display: none;
    }
  </style>

  <h1>button</h1>

  <p id="hot-menu">Cafe Americano</p>
  <p id="iced-menu" class="hidden">Ice Cafe Americano</p>

  <button id="hot" class="active">HOT</button>
  <button id="iced">ICED</button>

  <script>
    var hot = document.getElementById("hot");
    var iced = document.getElementById("iced");
    var hot_menu = document.getElementById("hot-menu");
    var iced_menu = document.getElementById("iced-menu");

    iced.addEventListener("click", function () {
      iced.classList.add("active")
      hot.classList.remove("active")
      hot_menu.classList.add("hidden")
      iced_menu.classList.remove("hidden")
    })

    hot.addEventListener("click", function () {
      hot.classList.add("active")
      iced.classList.remove("active")
      iced_menu.classList.add("hidden")
      hot_menu.classList.remove("hidden")
    })

    function activate(el) {}
    function deactive(el) {}
    function show(el) {}
    function hide(el) {}
    // Or you could create your own methods in element.
  </script>

</body>
</html>