<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<style>
    html {
      scroll-behavior:smooth;
    }

    body {
      min-height: 1000px;
    }

    #btn {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      width: 2rem;
      cursor: pointer;
    }

    .invisible {
      visibility: hidden;
    }
  </style>

  <h1>Top button</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos perspiciatis eius fugiat illum amet fuga dolor
    consectetur, vero rerum tempore facilis qui minima vel dolores minus rem, voluptate dolore voluptatem.</p>

  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 512 512"
    id="btn"
  >
    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM385 231c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-71-71V376c0 13.3-10.7 24-24 24s-24-10.7-24-24V193.9l-71 71c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 119c9.4-9.4 24.6-9.4 33.9 0L385 231z"/>
  </svg>

  <script>
    var btn = document.getElementById('btn');

    window.addEventListener('scroll', () => {
      console.log(document.documentElement.scrollTop);

      if (document.documentElement.scrollTop < 200) {
        btn.classList.add('invisible')
      } else {
        btn.classList.remove('invisible')
      }
    })

    btn.addEventListener('click', () => {
      document.documentElement.scrollTop = 0;
    })
  </script>

</body>
</html>