<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <h3>article</h3>
  <p>an article</p>

  <article>
    <h3>Guinness</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Itaque, illo praesentium ratione adipisci fuga commodi iste
      molestiae rerum odio ducimus consectetur fugiat nostrum 
      corrupti earum velit numquam nesciunt quaerat delectus.</p>
  </article>
  
</body>
</html>