<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <h3>section</h3>
  <p>section</p>

  <section>
    <h1>Beers</h1>
    <article>
      <h3>Guinness</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Consequuntur natus optio quasi fuga hic ut culpa delectus
        mollitia suscipit repellat veniam animi, quibusdam magnam 
        at reprehenderit! Magnam inventore odit ad.</p>
    </article>
    <article>
      <h3>Heineken</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Consequuntur natus optio quasi fuga hic ut culpa delectus
        mollitia suscipit repellat veniam animi, quibusdam magnam 
        at reprehenderit! Magnam inventore odit ad.</p>
    </article>
  </section>
  
</body>
</html>