<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta username="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!-- Single Page Application -->

  <nav>
    <ul>
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#posts">Posts</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  
  <div id="root"></div>

  <script>
    // using nav
    window.addEventListener('hashchange', (e) => {
      router(location.hash);
    })

    // load event
    window.addEventListener('load', (e) => {
      router(location.hash);
    })

    // router
    function router(hash) {
      var url = hash.substr(1);

      console.log(url);

      var routes = [
        { path: 'home', element: Home },
        { path: 'posts', element: Posts },
        { path: 'contact', element: Contact },
      ]

      for (var i=0; i<routes.length; i++) {
        if (routes[i].path === url) {
          document
            .getElementById('root')
            .innerHTML = routes[i].element();
        }
      }    
    }

    function Home() {
      return `
        <h1>Home</h1>
        <p>Welcome to our website</p>
      `
    }
    
    function Posts() {
      return `
        <h1>Posts</h1/>
        <ul>
          <li>second post</li>
          <li>first post</li>
        </ul>
      `
    }

    function Contact() {
      return `
        <h1>Contact</h1>
        <p>bunny@example.com</p>
      `
    }
  </script>


</body>
</html>