<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    form {
      width: 20rem;
    }

    input, textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    button {
      padding: 0.5rem;
      cursor: pointer;
    }
    .message {
      margin: 0;
      color: #f00;
    }
  </style>

  <form action="">
    <h1>Contact</h1>
    <div class="">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name">
      <p id="error-name" class="message"></p>
    </div>
    <div class="">
      <label for="email">E-mail</label>
      <input type="text" name="email" id="email" placeholder="Email">
      <p id="error-email" class="message"></p>
    </div>
    <div class="">
      <label for="message">Message</label>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
      <p id="error-message" class="message"></p>
    </div>
    <button type="submit">Send</button>
  </form>


  <script>
    let form = document.querySelector('form');

      form.addEventListener('submit', (e) => {
        e.preventDefault();

        let formData = new FormData(form);

        let _error = {};

        if (!formData.get('name')) {
          _error.name = 'Name is required';
        }

        if (!formData.get('email')) {
          _error.email = 'E-mail is required';
        }

        if (!formData.get('message')) {
          _error.message = 'Write message.'
        }

        console.log(_error)

        for (let pair of formData.entries()) {
          console.log(pair);
        }

      })
  </script>
  
</body>
</html>