<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    label {
      display: block;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    input {
      width: 20rem;
      box-sizing: border-box;
      padding: 0.5rem;
    }

    .success {
      color: #0a0;
    }

    .warning {
      color: #f00;
    }
  </style>
  
  <h1>Live validator</h1>

  <label for="">Username</label>
  <input type="text" id="input">

  <p id="message">Enter username</p>

  <script>
    var input = document.getElementById('input');
    var message = document.getElementById("message");
    
    input.addEventListener('keyup', function (e) {
      try {
        var username = e.target.value;

        if (!username.trim()) {
          throw 'Username is required';
        }

        if (!username.match(/^[a-z0-9]{5,}$/)) {
          throw 'must be lowercase letters and number at least 5 letters.';
        }

        message.innerHTML = `<span class="success">Accepted</span>`;

      } catch (error) {
        message.innerHTML = `<span class="warning">${error}</span>`;  
      } 
    })
  </script>

</body>
</html>