<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    label {
      display: block;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    input {
      width: 20rem;
      box-sizing: border-box;
      padding: 0.5rem;
    }

    .success {
      color: #0a0;
    }

    .warning {
      color: #f00;
    }
  </style>
  
  <h1>Live validator</h1>

  <label for="">Password</label>
  <input type="password" id="input">

  <p id="message"></p>

  <script>
    var input = document.getElementById('input');
    var message = document.getElementById("message");
    
    input.addEventListener('keyup', function (e) {
      try {
        var password = e.target.value;

        console.log(password);

        /*
          # Regular expression(RegEx)
          provide pattern to search string.

          1 use case
          /pattern/
        */

        var lowerCaseLetters = /[a-z]/
        var uppperCaseLetters = /[A-Z]/
        var numbers = /[0-9]/

        if (!password) {
          throw 'Password is required';
        }

        if (!password.match(lowerCaseLetters)) {
          throw "Password must contain at least one lowercase letter";
        }

        if (!password.match(uppperCaseLetters)) {
          throw "Password must contain at least one uppercase letter";
        }

        if (!password.match(numbers)) {
          throw "Password must contain at least one number";
        }

        if (password.length < 8) {
          throw "Password must be at least 8 letters";
        }

        message.innerHTML = `<span class="success">Accepted</span>`;

      } catch (error) {
        message.innerHTML = `<span class="warning">${error}</span>`;  
      } 
    })
  </script>

</body>
</html>