<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    label {
      display: block;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 0.5rem;
    }

    .success {
      color: #0a0;
    }

    .warning {
      color: #f00;
    }

    .hidden {
      display: none;
    }
  </style>
  
  <h1>Live validator</h1>

  <label for="">Username</label>
  <input type="text" id="input">

  <p id="success-message" class="success hidden">Accepted</p>
  <p id="error-message" class="warning hidden"></p>

  <script>
    var input = document.getElementById('input');
    var successMessage = document.getElementById('success-message');
    var errorMessage = document.getElementById('error-message');
    
    input.addEventListener('keyup', (e) => {
      try {
        var username = e.target.value

        if (!username) {
          throw 'Username is required';
        }

        if (username.length < 5) {
          throw 'Username is too short';
        }

        // regular expression: provide pattern to search strings.
        if (username.match(/[^a-z0-9_]/)) {
          throw 'lowercase letters, number and underscore are only accepted.';
        }

        successMessage.classList.remove("hidden");
        errorMessage.classList.add("hidden")

      } catch (error) {
        errorMessage.classList.remove("hidden")
        errorMessage.textContent = error;
        successMessage.classList.add("hidden");
      }
    })

  </script>

</body>
</html>