<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    form {
      display: flex;
    }

    input {
      padding: 0.5rem;
      flex-grow: 1;
    }

    .hidden {
      display: none;
    }
  </style>

  <h1>Newsletter</h1>

  <form action="" id="form">
    <input type="email" value="John@example.com" required>
    <button class="btn">Subscribe</button>
  </form>

  <p id="done" class="hidden">
    Thank you for subscribing us!
  </p>

  <script>
    var form = document.getElementById('form');
    var done = document.getElementById('done');

    form.addEventListener('submit', (e) => {
      e.preventDefault(); // prevent refresh
      
      // ... Server request

      form.classList.add('hidden');
      done.classList.remove('hidden')
    })
  </script>

</body>

</html>