<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    label {
      display: block;
    }

    input {
      padding: 0.5rem;
      width: 12rem;
      transition: 0.2s;
      outline: none;
    }

    .blue {
      color: #05f;
    }
    
    .red {
      color: #f00;
    }
  </style>
  
  <h1>Live validator for username</h1>

  <form action="">
    <label for="">Username</label>
    <input type="text">
    <div id="message"></div>
  </form>

  <script>
    let input = document.querySelector('input');
    let message = document.getElementById('message');
    
    input.addEventListener('keyup', (e) => {
      try {
        
        e.target.value = e.target.value.replace(' ', '_');

        let username = e.target.value;

        if (!username) {
          throw 'Username is required';
        }

        // console.log(username.match(/[^a-z0-9_]/g));

        if (username.match(/[^a-z0-9_]/g)) {
          throw 'lowercase letters, number and underscore are only accepted.'
        }

        if (username.length < 5) {
          throw 'Username is too short'
        }

        message.innerHTML = '<p class="blue">Awesome username!</p>'

      } catch (err) {
        message.innerHTML = `<p class="red">${err}</p>`
      }
    })
  </script>

</body>
</html>