<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    .container {
      width: 16rem;
    }

    label {
      display: block;
    }

    input {
      padding: 0.5rem;
      width: 100%;
      box-sizing: border-box;
    }

    .success {
      color: #0a0;
    }

    .danger {
      color: #f00;
    }
  </style>
  
  <h1>Live validator for username</h1>

  <div class="container">
    <label for="">Username</label>
    <input type="text" id="input">
    <p id="message-container">Enter username.</p>
  </div>

  <script>
    var input = document.getElementById('input');
    var messageContainer = document.getElementById('message-container');
    
    input.addEventListener('keyup', (e) => {
      try {
        var username = e.target.value;

        if (!username) {
          throw 'Username is required';
        }

        // regular expression
        console.log(username.match(/[^a-z0-9_]/));

        if (username.length < 5) {
          throw 'Username is too short';
        }

        // match(pattern): return matching results with pattern.
        // regular expression: provide pattern to search strings.
        if (username.match(/[^a-z0-9_]/)) {
          throw 'lowercase letters, number and underscore are only accepted.';
        }

        messageContainer.innerHTML = `<span class="success">Awesome username!</span>`

      } catch (error) {
        messageContainer.innerHTML = `<span class="danger">${error}</span>`
      }
    })

  </script>

</body>
</html>