<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Virtual Keyboard</h1>

  <style>
    #keyboard {
      background-color: #ddd;
      position: fixed;
      left: 0;
      bottom: -200px;
      width: 100%;
      height: 200px;
      transition: bottom 0.2s;
    }
    #keyboard.active {
      bottom: 0;
    }
    #caps-lock.active {
      outline: 2px solid red;
    }
  </style>


  <textarea name="" id="textarea" cols="30" rows="10"></textarea>


  <div id="keyboard">
    <button type="button" onclick="backspace()">Backspace</button>
    <hr>
    <button type="button" class="letter" onclick="lettersPressed('a')">a</button>
    <button type="button" class="letter" onclick="lettersPressed('b')">b</button>
    <button type="button" class="letter" onclick="lettersPressed('c')">c</button>
    <button type="button" class="letter" onclick="lettersPressed('d')">d</button>
    <hr>
    <button type="button" onclick="enterPressed()">Enter</button>
    <hr>
    <button type="button" id="caps-lock" onclick="capsLock(this)">CapsLock</button>
    <hr>
    <button type="button" onclick="lettersPressed(' ')">Space</button>
  </div>


  <script>

    let textarea = document.getElementById('textarea');
    let isCapsLocked = false;
    let letters = document.querySelectorAll('.letter');
    let keyboard = document.getElementById('keyboard');


    textarea.addEventListener('focus', (e) => {
      keyboard.classList.add('active')
    })

    keyboard.addEventListener('click', (e) => {
      textarea.focus();
    })

    textarea.addEventListener('blur', (e) => {

      keyboard.classList.remove('active');
    })
    
    function lettersPressed(data) {

      let key = data;

      if (isCapsLocked) {
        key = data.toUpperCase();
      }
      
      textarea.value += key
    }
    
    function backspace() {
      textarea.value = textarea.value.slice(0, -1);
    }

    function capsLock(el) {
      isCapsLocked = !isCapsLocked; 

      if (isCapsLocked) {
        el.classList.add('active')
      } else {
        el.classList.remove('active')
      }

      for (let i=0; i<letters.length; i++) {
        if (isCapsLocked) {
          letters[i].textContent = letters[i].textContent.toUpperCase();
        } else {
          letters[i].textContent = letters[i].textContent.toLowerCase();
        }
      } 
    }

    function enterPressed() {
      textarea.value += '\n'
    }

  </script>
  
</body>
</html>