<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Infinite Carousel</h1>

  <style>
    #container {
      display: inline-flex;
      border: 1px solid;
      transition: transform 0.2s;
    }
    .item {
      width: 100px;
      padding: 0.5rem;
      background-color: #ddd;
      box-sizing: border-box;
    }
  </style>

  <div id="container">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
  </div>

  <hr>

  <button onclick="f(-1)">Prev</button>
  <button onclick="f(1)">Next</button>

  <script>

    let index = 0;
    let container = document.getElementById('container');

    let x = -1;


    function f(data) {

      index += data;

      console.log(index);

      let items = document.querySelectorAll('.item');

      container.style.transform = `translateX(-${index * 100}px)`;

      if (index > 1) {
        let item1 = items[index].cloneNode(true);
        container.appendChild(item1)
      }
    }


  </script>
  
</body>
</html>