<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Touch Carousel</h1>

  <style>
    #wrapper {
      width: 200px;
      height: 200px;
      overflow-x: hidden;
    }

    #container {
      display: flex;
      width: 600px;
      transition: transform 0.2s;
    }

    .item {
      width: 200px;
      height: 200px;
      font-size: 2rem;
      background-image: linear-gradient(to right, #f00, #a00);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dot.active {
      color: #f00;
    }

    .hidden {
      display: none;
    }
  </style>

  <div id="wrapper">
    <div id="container">
      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
    </div>
  </div>

  <button id="prev-btn">Prev</button>
  <button id="next-btn">Next</button>

  <div id="indicator">
    <span class="dot">*</span>
    <span class="dot">*</span>
    <span class="dot">*</span>
  </div>

  <script>
    let wrapper = document.getElementById('wrapper');
    let container = document.getElementById('container');
    let prevBtn = document.getElementById('prev-btn');
    let nextBtn = document.getElementById('next-btn');
    let dots = document.getElementsByClassName('dot');
    let width = 200;
    let thisIndex = 0;
    let firstIndex = 0;
    let lastIndex = 2;
    let wasIndex = null;
    let startPoint;
    let fromStartPoint = 0;

    window.addEventListener('DOMContentLoaded', setButtonAndDot);
    prevBtn.addEventListener('click', () => {
      turnOver(-1);
      setButtonAndDot();
    })
    nextBtn.addEventListener('click', () => {
      turnOver(1);
      setButtonAndDot()
    })
    wrapper.addEventListener('touchstart', saveStartPoint)
    wrapper.addEventListener('touchmove', moving)
    wrapper.addEventListener('touchend', (e) => {
      // stay
      if (fromStartPoint > -50 || fromStartPoint < 50) {
        turnOver(0);
      }
      // turn over to next photo
      if (thisIndex < lastIndex && fromStartPoint < -50) {
        turnOver(1)
        setButtonAndDot();
      }
      // turn over to prev photo
      if (thisIndex > firstIndex && fromStartPoint > 50) {
        turnOver(-1)
        setButtonAndDot();
      }
      // reset move
      fromStartPoint = 0;
    })

    function turnOver(data) {
      thisIndex += data;
      container.style.transform = `translateX(-${thisIndex * width}px)`;
    }

    function setButtonAndDot() {

      if (thisIndex === firstIndex) {
        prevBtn.classList.add('hidden')
      }
      if (wasIndex === firstIndex) {
        prevBtn.classList.remove('hidden')
      }
      if (thisIndex === lastIndex) {
        nextBtn.classList.add('hidden');
      }
      if (wasIndex === lastIndex) {
        nextBtn.classList.remove('hidden');
      }

      if (wasIndex !== null) {
        dots[wasIndex].classList.remove('active');
      }
      dots[thisIndex].classList.add('active');

      wasIndex = thisIndex;
    }

    function saveStartPoint(e) {
      startPoint = e.touches[0].clientX;
    }

    function moving(e) {
      let clientX = e.touches[0].clientX;
      fromStartPoint = clientX - startPoint;

      let movingToPrevInFirst = thisIndex === firstIndex && fromStartPoint > 0;
      let movingToNextInLast = thisIndex === lastIndex && fromStartPoint < 0;

      if (movingToPrevInFirst || movingToNextInLast) return;

      let fromLeft = - (thisIndex * width) + fromStartPoint;
      container.style.transform = `translateX(${fromLeft}px)`;
    }
  </script>

</body>

</html>