<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-5">


  <!-- HEADER -->
  <header class="bg-gray-100">
    <div class="flex items-center">
      <button onclick="toggleNav()" class="text-2xl p-2">&#9776;</button>
      <h3 class="text-lg font-bold ml-2">World Beer</h3>
    </div>
    <nav class="">
      <ul>
        <li>
          <a href="#" class="block p-2">Link</a>
        </li>
        <li>
          <a href="#" class="block p-2">Link</a>
        </li>
        <li>
          <a href="#" class="block p-2">Link</a>
        </li>
      </ul>
    </nav>
  </header>


  <!-- TAB CONTENTS -->
  <div class="py-5">
    <h1 class="text-2xl font-bold mb-4">Tab Contents</h1>

    <div class="flex flex-wrap">
      <input type="radio" name="tab-beers" id="tab-b0" class="peer/b0 hidden" checked>
      <label for="tab-b0" class="peer-checked/b0:font-bold p-2 cursor-pointer">Guinness</label>
  
      <input type="radio" name="tab-beers" id="tab-b1" class="peer/b1 hidden">
      <label for="tab-b1" class="peer-checked/b1:font-bold p-2 cursor-pointer">Heineken</label>
  
      <input type="radio" name="tab-beers" id="tab-b2" class="peer/b2 hidden">
      <label for="tab-b2" class="peer-checked/b2:font-bold p-2 cursor-pointer">Budwiser</label>
  
      <div class="hidden peer-checked/b0:block w-full p-2" id="b0">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem cupiditate iusto porro repellat modi tenetur, odio
        illum eos reiciendis! Adipisci amet praesentium, architecto quia saepe inventore dolor repellendus recusandae deleniti!
        </p>
      </div>
  
      <div class="hidden peer-checked/b1:block w-full p-2" id="b1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem cupiditate iusto porro repellat modi tenetur, odio
        illum eos reiciendis! 
        </p>
      </div>
  
      <div class="hidden peer-checked/b2:block w-full p-2" id="b2">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>


  <!-- MODAL -->
  <div class="py-5">
    <h1 class="text-2xl font-bold mb-4">Modal</h1>
    <button class="p-2" onclick="showModal()">Open</button>

    <div id="modal" class="fixed inset-0 bg-black/50 hidden">
      <div class="mt-20 mx-auto max-w-sm bg-white p-4 rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Modal</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis eveniet unde excepturi commodi maiores nam
          velit ea dolore voluptate rem iusto tempora quam iste culpa eos cumque, illum inventore? Sequi?</p>
      </div>
    </div>
  </div>


  <!-- ACCORDION -->
  <div class="py-5">
    <h1 class="text-2xl font-bold mb-4">Accordion</h1>
    <ul>
      <li class="border-t p-2">
        <input type="radio" name="acc-beers" id="acc-b0" class="peer/b0 hidden" checked>
        <label for="acc-b0" class="block cursor-pointer peer-checked/b0:font-bold">Guinness</label>
        
        <div class="hidden peer-checked/b0:block">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aperiam accusantium atque blanditiis vitae cum
            architecto minima! Officiis quae rerum, ratione fugiat quisquam soluta aperiam delectus beatae. Molestiae, rem
            dolorum.</p>
        </div>
      </li>
      <li class="border-t p-2">
        <input type="radio" name="acc-beers" id="acc-b1" class="peer/b1 hidden">
        <label for="acc-b1" class="block cursor-pointer peer-checked/b1:font-bold">Heineken</label>

        <div class="hidden peer-checked/b1:block">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aperiam accusantium atque blanditiis vitae cum
            architecto minima! Officiis quae rerum, ratione fugiat quisquam soluta aperiam delectus beatae. Molestiae, rem
            dolorum.</p>
        </div>
      </li>
      <li class="border-t p-2">
        <input type="radio" name="acc-beers" id="acc-b2" class="peer/b2 hidden">
        <label for="acc-b2" class="block cursor-pointer peer-checked/b2:font-bold">Budwiser</label>

        <div class="hidden peer-checked/b2:block">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aperiam accusantium atque blanditiis vitae cum
            architecto minima! Officiis quae rerum, ratione fugiat quisquam soluta aperiam delectus beatae. Molestiae, rem
            dolorum.</p>
        </div>
      </li>
    </ul>
  </div>


  <!-- FORM -->
  <div class="py-5">
    <form action="">
      <div class="mb-4">
        <h1 class="text-2xl font-bold">Newsletter</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="flex">
        <input type="text" class="p-2 flex-grow border" required>
        <button class="bg-gray-100 px-2">Subscribe</button>
      </div>
    </form>
  </div>


  <!-- FOOTER -->
  <footer class="text-center p-4 bg-gray-200">
    <small>Footer</small>
  </footer>


  <script>
  // NAV BAR
  function toggleNav() {
    document
      .querySelector('nav')
      .classList
      .toggle('hidden');
  }


  // MODAL
  function showModal() {
    document
      .getElementById('modal')
      .classList
      .remove('hidden')
  }

  let modal = document.getElementById('modal');

  modal
    .addEventListener('click', (e) => {  
      if (e.target === modal) {
        e.target.classList.add('hidden');
      }
    })


  // FORM
  document
    .querySelector('form')
    .addEventListener('submit', (e) => {
      e.preventDefault();

      e.target.innerHTML = `
        <h1 class="text-2xl font-bold">
          Thank you for subscribing
        </h1>
      `
    })
  </script>
  

</body>
</html>