<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>See more</h1>

  <style>
    #btn {
      color: #888;
      cursor: pointer;
    }
  </style>

  <p id="container">
    Lorem ipsum dolor, sit amet consectetur adipisicing...
  </p>

  <span id="btn">more</span>

  <script>  
    var container = document.getElementById("container");
    var btn = document.getElementById("btn");
    var fullContent = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit architecto tenetur libero, eos deleniti ratione repudiandae perspiciatis culpa expedita, debitis a ipsa corporis cumque cum. Sunt iure nam unde facilis!";
    
    btn.addEventListener("click", function () {
      container.textContent = fullContent;
      btn.remove();
    })
  </script>

</body>
</html> 