<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>See more button</h1>

  <style>
    #btn {
      color: #888;
      cursor: pointer;
    }
  </style>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing<span id="dots">...</span>
  </p>

  <span id="btn">See more</span>

  <script>  
    var dots = document.getElementById("dots");
    var btn = document.getElementById("btn");
    var content = " elit. Odit architecto tenetur libero, eos deleniti ratione repudiandae perspiciatis culpa expedita, debitis a ipsa corporis cumque cum. Sunt iure nam unde facilis!";
    
    btn.addEventListener("click", function () {
      dots.textContent = content;
      btn.remove();
    })
  </script>

</body>
</html> 