<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!-- <h1>JavaScript with CSS Animation</h1>

  <style>
    .container {
      position:fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      fill: #fff;
      flex-shrink: 0;
      animation: grow 1s;
    }
    .hidden {
      display: none;
    }
    @keyframes grow {
      from {width: 10rem;}
      to {width: 100rem;}
    }
  </style>
  
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path d="M415.44 512h-95.11L212.12 357.46v91.1L125.69 512H28V29.82L68.47 0h108.05l123.74 176.13V63.45L386.69 0h97.69v461.5zM38.77 35.27V496l72-52.88V194l215.5 307.64h84.79l52.35-38.17h-78.27L69 13zm82.54 466.61l80-58.78v-101l-79.76-114.4v220.94L49 501.89h72.34zM80.63 10.77l310.6 442.57h82.37V10.77h-79.75v317.56L170.91 10.77zM311 191.65l72 102.81V15.93l-72 53v122.72z"/>
    </svg>
  </div>

  <script>
    const svg = document.querySelector("svg");

    setTimeout(() => {
      svg.classList.add("hidden");
    }, 1000)
  </script> -->
</body>
</html>