<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    #modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0 0 0 / 0.2);
    }
    .container {
      background-color: #fff;
      width: 20rem;
      padding: 1rem;
      border-radius: 1rem;
      margin: 100px auto 0;
    }
    span {
      float: right;
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
  </style>

  <h1>Modal</h1>
  <button>Open Modal</button>

  <div id="modal" class="hidden">
    <div class="container">
      <!-- Question: close button -->
      <span>&times;</span>
      <h1>Modal Content</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat fugit vitae, deserunt molestias id quibusdam quasi eius laborum doloribus alias? Facere quibusdam totam dolorem in veritatis vero eum consequuntur numquam?
      </p>
    </div>
  </div>


  <script>
    let button = document.querySelector("button");
    let modal = document.getElementById("modal");
    let span = document.querySelector('span');

    button.addEventListener("click", (e) => {
      modal.classList.remove("hidden");
    })

    span.addEventListener('click', (e) => {
      modal.classList.add("hidden");
    })

    modal.addEventListener('click', (e) => {
      let isOverlayClicked = e.target === modal;

      if (isOverlayClicked) {
        e.target.classList.add('hidden');
      }
    })
  </script>


</body>
</html>