<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1>Drag and Drop</h1>

  <style>
    #container {
      border: 4px dashed #ddd;
      width: 200px;
      height: 100px;
      padding: 1rem;
    }
  </style>

  <div id="container">
    <p>Drag one or more files to this <i>drop zone</i>.</p>
  </div>

  <script>
    let container = document.getElementById('container');

    container.addEventListener('drop', dropHandler);
    container.addEventListener('dragover', dragOverHandler);

    function dropHandler(ev) {
      console.log('File(s) dropped');

      // Prevent default behavior (Prevent file from being opened)
      ev.preventDefault();

      /*
        FileList
        - This interface was an attempt to create an unmodifiable list

        - only continues to be supported to not break code that is already using it.
        
        - Modern APIs use types 
        that wrap around ES array types
        instead
        
        - treat them like ES arrays
      */
      
      let files = Array.from(...ev.dataTransfer.files);

      files.map(file => {
        console.log(file.name);
      });
    }
    
    function dragOverHandler(ev) {
      console.log('File(s) in drop zone');

      // Prevent default behavior (Prevent file from being opened)
      ev.preventDefault();
    }
  </script> -->


  <!-- <h1>Drag and Drop</h1>

  <style>
    #drop_zone {
      border: 4px dashed #ddd;
      width: 200px;
      height: 100px;
      padding: 1rem;
    }
  </style>

  <div id="container">
    <div id="drop_zone">
      <p>Drag one or more files to this <i>drop zone</i>.</p>
    </div>
  </div>

  <script>
    let dropZone = document.getElementById('drop_zone');

    dropZone.addEventListener('drop', dropHandler);
    dropZone.addEventListener('dragover', dragOverHandler);

    function dropHandler(e) {
      console.log('File(s) dropped');

      // prevent default behavior (file is opened)
      e.preventDefault();

      // FileList
      console.log(e.dataTransfer.files); 

      let files = Array.from(e.dataTransfer.files);
      
      for (let file of files) {
        console.log(file.name);
      }
      
      // ...send to server

      document
        .getElementById('container')
        .innerHTML = '<h1>Submitted</h1>';
    }
    
    function dragOverHandler(e) {
      console.log('File(s) in drop zone');
      
      // prevent default behavior (file is opened)
      e.preventDefault();
    }
  </script> -->


  <!-- <style>
    html {scroll-behavior:smooth;}
    body {
      min-height: 1000px;
    }
    button {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }
    .hidden {
      display: none;
    }
  </style>

  <h1>Top button</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos perspiciatis eius fugiat illum amet fuga dolor
    consectetur, vero rerum tempore facilis qui minima vel dolores minus rem, voluptate dolore voluptatem.</p>

  <button class="hidden"> 
    Top
  </button>

  <script>
    let button = document.querySelector('button');

    window.addEventListener('scroll', (e) => {
      console.log(document.documentElement.scrollTop);

      if (document.documentElement.scrollTop < 200) {
        button.classList.add('hidden')
      } else {
        button.classList.remove('hidden')
      }
    })

    button.addEventListener('click', (e) => {
      document.documentElement.scrollTop = 0;
    })
  </script> -->

</body>
</html>