<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    button {
      border: none;
      background-color: transparent;
      padding: 0.5rem;
      font-weight: bold;
      cursor: pointer;
    }
    .hidden {
      display: none; 
    }
    .active {
      border-bottom: 2px solid;
    }
  </style>
  
  <h1>Beers</h1>

  <div class="">
    <button id="default" onclick="f(event, 'b0')">Guinness</button>
    <button onclick="f(event, 'b1')">Heineken</button>
    <button onclick="f(event, 'b2')">Budwiser</button>
  </div>

  <div class="container">
    <div id="b0" class="beer">
      <h3>Guinness</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam eos quam dolores, deserunt repellat sequi odit
        distinctio ipsum, molestiae dolore ipsa ab dolorem corporis molestias placeat magni aut veritatis?</p>
    </div>
  
    <div id="b1" class="beer">
      <h3>Heineken</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum autem accusantium corporis maiores ipsum! Voluptate
        delectus quam necessitatibus debitis, et dignissimos laborum! Laudantium qui sunt quisquam fugit magni nulla vitae!
      </p>
    </div>
  
    <div id="b2" class="beer">
      <h3>Budwiser</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi voluptatem culpa labore magni doloremque vero
        consectetur quis at harum. Doloremque blanditiis illo debitis voluptatum amet odio dolore inventore voluptates?</p>
    </div>
  </div>

  <script>
    function f(e, id) {
      // # toggle button
      let buttons = document.querySelectorAll('button');
      
      for (let i=0; i<buttons.length; i++) {
        buttons[i].classList.remove('active');
      }
      e.target.classList.add('active');
      
      // # toggle content
      let beers = document.getElementsByClassName('beer');

      for (let i=0; i<beers.length; i++) {
        beers[i].classList.add('hidden');
      }
      let beer = document.getElementById(id);
      beer.classList.remove('hidden');
    }

    // # default tab
    document.getElementById('default').click();
  </script>

</body>
</html>