<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    .dark-mode {
      background-color: #333;
      color: #fff;
    }
  </style>

  <h1>Theme</h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Mollitia voluptas architecto optio totam dolore perspiciatis qui nihil?
    Nesciunt eligendi id impedit, expedita earum, enim veniam laudantium,
    pariatur quasi repellendus est.
  </p>

  <input type="checkbox" id="checkbox" name="">
  <label for="checkbox">
    Dark Mode
  </label>

  <script>
    var checkbox = document.getElementById('checkbox');
    var theme = localStorage.getItem('theme');

    // when dark mode was selected
    var isDarkMode = localStorage.getItem('darken');

    if (isDarkMode) {
      document.body.classList.add('dark-mode');
      checkbox.checked = true;
    }

    // change theme
    checkbox.addEventListener('change', (e) => {
      var checked = e.target.checked;
      
      if (checked) {
        document.body.classList.add('dark-mode');
        localStorage.setItem('darken', new Date().toLocaleString());
      } else {
        document.body.classList.remove('dark-mode');
        localStorage.removeItem('darken');
      }
    })

  </script>

</body>

</html>