<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
      color: #000;
    }
  </style>
</head>
<body>

  <h1>Components</h1>

  <h3>Functional button</h3>
  <ul>
    <li>
      <a href="./button/file-upload-button.html">File upload button</a>
    </li>
    <li>
      <a href="./button/anime-menu-button.html">Animated menu button</a>
    </li>
    <li>
      <a href="./button/badge.html">Badge</a>
    </li>
    <li>
      <a href="./button/pagination.html">Pagination</a>
    </li>
    <li>
      <a href="./button/dropdown.html">Dropdown</a>
    </li>
    <li>
      <a href="./button/toggle-button.html">Toggle button</a>
    </li>
    <li>
      <a href="./button/likes.html">Likes button</a>
    </li>
    <li>
      <a href="./button/password-toggle.html">Password toggle</a>
    </li>
    <li>
      <a href="./button/see-more-btn.html">See more button</a>
    </li>
    <li>
      <a href="./button/tab-button.html">Tab button</a>
    </li>
    <li>
      <a href="./button/top-button.html">Top button</a>
    </li>
  </ul>
  
  <h3>Navigation</h3>
  <ul>
    <li>
      <a href="./nav/nav-bar.html">NavBar</a>
    </li>
    <li>
      <a href="./nav/nav-sub-menu.html">NavBar with sub menu</a>
    </li>
    <li>
      <a href="./nav/side-bar.html">Side bar</a>
    </li>
    <li>
      <a href="./nav/filter-buttons.html">Filter buttons</a>
    </li>
    <li>
      <a href="./nav/dashboard.html">Dashboard</a>
    </li>
    <li>
      <a href="./nav/nav-bar-button.html">NavBar with button</a>
    </li>
    <li>
      <a href="./nav/transparent-nav.html">Transparent NavBar</a>
    </li>
    <li>
      <a href="./nav/side-bar-button.html">Side bar with button</a>
    </li>
    <li>
      <a href="./nav/side-bar-cover.html">Side bar on cover</a>
    </li>
    <li>
      <a href="./nav/switch-nav.html">Switch nav</a>
    </li>
  </ul>

  <h3>Modal</h3>
  <ul>
    <li>
      <a href="./modal/modal.html">Active modal</a>
    </li>
    <li>
      <a href="./modal/modal-image.html">Image on modal</a>
    </li>
    <li>
      <a href="./modal/modal-btn.html">Open modal</a>
    </li>
    <li>
      <a href="./modal/modal-gallery.html">Modal Gallery</a>
    </li>
  </ul>

  <h3>Image</h3>
  <ul>
    <li>
      <a href="./image/avatar.html">Avatar</a>
    </li>
    <li>
      <a href="./image/card.html">Card</a>
    </li>
    <li>
      <a href="./image/scalable-image.html">Scalable image</a>
    </li>
    <li>
      <a href="./image/image-on-overlay.html">Image on overlay</a>
    </li>
    <li>
      <a href="./image/thumbnail.html">Thumbnail</a>
    </li>
    <li>
      <a href="./image/hero-image.html">Hero image</a>
    </li>
    <li>
      <a href="./image/side-by-side.html">Side by side images</a>
    </li>
    <li>
      <a href="./image/article.html">Article</a>
    </li>
    <li>
      <a href="./image/gallery.html">Gallery</a>
    </li>
    <li>
      <a href="./image/photo-review.html">Photo review</a>
    </li>
    <li>
      <a href="./image/carousel/index.html">Carousel</a>
    </li>
  </ul>

  <h3>Form</h3>
  <ul>
    <li>
      <a href="./form/search-form.html">Search form</a>
    </li>
    <li>
      <a href="./form/login.html">Login form</a>
    </li>
    <li>
      <a href="./form/personal-form.html">Personal form</a>
    </li>
    <li>
      <a href="./form/live-validator.html">Live validator</a>
    </li>
    <li>
      <a href="./form/live-search.html">Live search</a>
    </li>
    <li>
      <a href="./form/subscribe.html">Newsletter subscribe</a>
    </li>
    <li>
      <a href="./form/contact-form.html">Contact form</a>
    </li>
  </ul>
  
  <h3>Others</h3>
  <ul>
    <li>
      <a href="./others/table.html">Table</a>
    </li>
    <li>
      <a href="./others/accordion.html">Accordion</a>
    </li>
    <li>
      <a href="./others/tab-content.html">Tab content</a>
    </li>
    <li>
      <a href="./others/color-option.html">Color options</a>
    </li>
    <li>
      <a href="./others/spinner.html">Spinner</a>
    </li>
    <li>
      <a href="./others/progress-bar.html">Pregress bar</a>
    </li>
    <li>
      <a href="./others/drag-and-drop.html">Drag and Drop</a>
    </li>
    <li>
      <a href="./others/scroll-event.html">Scroll event</a>
    </li>
    <li>
      <a href="./others/filter-btn.html">Filter list</a>
    </li>
    <li>
      <a href="./others/choice-theme.html">Choice theme</a>
    </li>
    <li>
      <a href="./others/block-promo.html">Block promo</a>
    </li>
    <li>
      <a href="./others/stop-watch.html">Stop watch</a>
    </li>
  </ul>

  <h3>Deep Dive</h3>
  <ul>
    <li>
      <a href="./deep-dive/spa/index.html">SPA</a>
    </li>
    <li>
      <a href="./deep-dive/sticky-notes/index.html">Sticky notes</a>
    </li>
  </ul>
  
</body>
</html>