<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Stop Watch</h1>

  <div id="display">0</div>

  <p>
    <button id="btn">Pause</button>
  </p>

  <script>
    var s = 0;
    var paused = false;

    var myInterval = createInterval();

    btn.addEventListener("click", () => {

      paused = !paused;

      if (paused) {
        clearInterval(myInterval);
        btn.textContent = "Play";
      } else {
        myInterval = createInterval();
        btn.textContent = "Pause";
      }
    })

    function createInterval() {
      return setInterval(() => {
        s++;
        display.textContent = s;
      }, 1000)
    }
  </script>
  
</body>
</html>