<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>useRef</h1>

  <style>
    .red {
      color: #f00;
    }
  </style>

  <ul>
    <li class="item red">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
  </ul>

  <input type="button" value="button" onclick="f()">

  <script>

    var index = 0;

    var items = document.getElementsByClassName('item');

    var prevIndex = 0;

    function f() {
      console.log('index:', index);
      index++;

      if (index === items.length) {
        index = 0;
      }


      items[index].classList.add('red');
      items[prevIndex].classList.remove('red');

      prevIndex = index;

      console.log('prevIndex:', prevIndex)
    }

  </script>

  
</body>
</html>