<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" item="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .btn {
      background-color: #eee;
      border: none;
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .item {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
    }

    .btn {
      text-align: left;
    }

    .btn.active {
      background-color: #ddd;
    }

    .item.active {
      max-height: 200px;
    }
  </style>
  
  <h1>Accordion</h1>

  <ul>
    <li>
      <button class="btn" onclick="f(this, 0)">Guinness</button>
      <div class="item">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Recusandae, libero temporibus eius saepe ullam voluptatibus 
          in consequatur cum maiores tempore dolore iste atque qui 
          officiis velit labore doloribus sint. Dolor.
        </p>
      </div>
    </li>
    <li>
      <button class="btn" onclick="f(this, 1)">Heineken</button>
      <div class="item">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Recusandae, libero temporibus eius saepe ullam voluptatibus 
          in consequatur cum maiores tempore dolore iste atque qui 
          officiis velit labore doloribus sint. 
        </p>
      </div>
    </li>
    <li>
      <button class="btn" onclick="f(this, 2)">Budwiser</button>
      <div class="item">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        </p>
      </div>
    </li>
  </ul>

  <script>
    var items = document.getElementsByClassName("item");

    function f(btn, contentIndex) {
      // buttons
      btn.classList.toggle("active");
      // items
      items[contentIndex].classList.toggle("active");
    }
  </script>
  
</body>
</html>