<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .el {
      opacity: 0;
      transition: opacity 0.5s;
    }

    .active {
      opacity: 1
    }
  </style>

  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis aliquam harum id animi! Ipsa nihil quae tenetur omnis, 
    sequi molestias debitis accusantium quos. 
    Quia perspiciatis necessitatibus quo nostrum ex vero.
  </h1>
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis aliquam harum id animi! Ipsa nihil quae tenetur omnis, 
    sequi molestias debitis accusantium quos. 
    Quia perspiciatis necessitatibus quo nostrum ex vero.
  </h1>
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis aliquam harum id animi! Ipsa nihil quae tenetur omnis, 
    sequi molestias debitis accusantium quos. 
    Quia perspiciatis necessitatibus quo nostrum ex vero.
  </h1>
  <h1 class="el">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis aliquam harum id animi! Ipsa nihil quae tenetur omnis, 
    sequi molestias debitis accusantium quos. 
    Quia perspiciatis necessitatibus quo nostrum ex vero.
  </h1>
  <h1 class="el">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis aliquam harum id animi! Ipsa nihil quae tenetur omnis, 
    sequi molestias debitis accusantium quos. 
    Quia perspiciatis necessitatibus quo nostrum ex vero.
  </h1>
  <h1 class="el">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis aliquam harum id animi! Ipsa nihil quae tenetur omnis, 
    sequi molestias debitis accusantium quos. 
    Quia perspiciatis necessitatibus quo nostrum ex vero.
  </h1>

  <script>
    var els = document.getElementsByClassName('el');

    document.addEventListener('scroll', function (e) {
      // viewport height
      var vh = window.innerHeight;

      for (var i = 0; i < els.length; i++) {
        // distance between viewport-top and element-top
        var y = els[i].getBoundingClientRect().y;

        // into the view port enough.
        if (y < vh * 0.9) {
          els[i].classList.add("active")
        }
      }
    })
  </script>
  
</body>
</html>