<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    .dark-mode {
      background-color: #333;
      color: #fff;
    }
  </style>

  <h1>Choice Theme</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Tenetur minus quibusdam expedita? Quisquam magnam fugiat, 
    autem fuga dolorem commodi tempora assumenda debitis repellendus quas. 
    Eos iure quia praesentium quae hic.
  </p>

  <input type="checkbox" id="checkbox" name="">
  <label for="checkbox">
    Dark Mode
  </label>

  <script>
    /*
      * localStorage
      storage that browser provides

      1 localStorgae method
      1) localStorage.setItem(key, value)
      2) localStorage.getItem(key)
      3) localStorgage.removeItem(key)
    */

    var checkbox = document.getElementById("checkbox");

    // when page is loaded
    var isDarkMode = localStorage.getItem("darkTheme");

    if (isDarkMode) {
      document.body.classList.add("dark-mode");
      checkbox.checked = true;
    }

    // when check state is changed
    checkbox.addEventListener("change", function () {
      var checked = this.checked;

      console.log(checked);
      
      if (checked) {
        document.body.classList.add("dark-mode");
        localStorage.setItem("darkTheme", true);
      } else {
        document.body.classList.remove("dark-mode");
        localStorage.removeItem("darkTheme");
      }
    })
  </script>

</body>

</html>