<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    input {
      width: 100%;  
      padding: 0.5rem;
      box-sizing: border-box;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      padding: 0 0.5rem;
    }
    
    .item {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .delete-btn {
      cursor: pointer;
    }
  </style>


  <h1>Search history</h1>

  <input type="search" placeholder="Search Google" disabled>

  <ul>
    <li id="h0" class="item">
      <span>I believe I can fly</span>
      <span class="delete-btn" onclick="deleteItem('h0')">&times;</span>
    </li>
    <li id="h1" class="item">
      <span>I believe I can touch the sky</span>
      <span class="delete-btn" onclick="deleteItem('h1')">&times;</span>
    </li>
    <li id="h2" class="item">
      <span>I think about it every night and day</span>
      <span class="delete-btn" onclick="deleteItem('h2')">&times;</span>
    </li>
    <li id="h3" class="item"> 
      <span>Spread my wings and fly away</span>
      <span class="delete-btn" onclick="deleteItem('h3')">&times;</span>
    </li>
  </ul>


  <script>
    function deleteItem(id) {
      document.getElementById(id).remove();
    }
  </script>
  
</body>
</html>