<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .hidden {
      display: none;
    }

    input {
      display: none;
    }

    label {
      display: inline-block;
      padding: 0.5rem;
    }

    input:checked + label {
      background-color: #000;
      color: #fff;
    }
  </style>


  <h1>Tab Contents</h1>

  <div class="">
    <input type="radio" name="car" id="kr" checked>
    <label for="kr" onclick="f('kr')">
      Korea
    </label>
    <input type="radio" name="car" id="jp">
    <label for="jp" onclick="f('jp')">
      Japan
    </label>
    <input type="radio" name="car" id="se">
    <label for="se" onclick="f('se')">
      Sweden
    </label>
  </div>

  <div>
    <p class="item kr">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Aliquam iste accusantium maiores ab obcaecati, exercitationem fuga? 
      Dolores, debitis repudiandae laudantium necessitatibus nemo quae 
      placeat cumque voluptatibus recusandae fuga a libero?
    </p>
    <p class="item hidden jp">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Aliquam iste accusantium maiores ab obcaecati, exercitationem fuga? 
    </p>
    <p class="item hidden se">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    </p>
  </div>


  <script>
    var items = document.getElementsByClassName("item");

    function f(filter) {
      for (var i=0; i<items.length; i++) {
        if (items[i].classList.contains(filter)) {
          items[i].classList.remove("hidden");
        } else {
          items[i].classList.add("hidden");
        }
      }
    }
  </script>
  
</body>
</html>