<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .btn {
      background-color: transparent;
      border: none;
      padding: 0.5rem;
      font-size: 1rem;
    }

    .btn:disabled {
      color: #000;
      border-bottom: 2px solid;
    }

    .item {
      display: none;
    }

    .active {
      display: block;
    }
  </style>


  <h1>Tab contents</h1>

  <div class="btn-container">
    <button class="btn" id="default" disabled onclick="f(this, 0)">Guinness</button>
    <button class="btn" onclick="f(this, 1)">Heineken</button>
    <button class="btn" onclick="f(this, 2)">Budwiser</button>
  </div>

  <div class="container">
    <p class="item active">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Molestias vitae similique laborum a dolorem. 
      Quam rem porro perspiciatis repellat, 
      tenetur dolore maxime in dolores similique a ad magni nihil unde!
    </p>
    <p class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Molestias vitae similique laborum a dolorem. 
    </p>
    <p class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    </p>
  </div>


  <script>
    var items = document.getElementsByClassName("item");
    var prevBtn = document.getElementById("default");
    var prevItemIndex = 0;

    function f(btn, itemIndex) {
      // buttons
      prevBtn.disabled = false;
      btn.disabled = true;
      
      // set items
      items[prevItemIndex].classList.remove("active");
      items[itemIndex].classList.add("active");

      // set prev variables
      prevBtn = btn;
      prevItemIndex = itemIndex;
    }
  </script>
  
</body>
</html>