<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .block { display: block }
  </style>

  <h1>What needs to be done?</h1>

  <form action="" id="form">
    <h3>Form</h3>
    <input type="text" name="name">
    <button type="submit">Add</button>
  </form>
  
  <h3>List</h3>
  <div id="list"></div>

  <script>
    let list = document.getElementById('list');
    let form = document.getElementById('form');

    window.addEventListener('DOMContentLoaded', getTasks);
    form.addEventListener('submit', handleSubmit);

    function getTasks() {
      let initialTasks = localStorage.getItem('tasks');
      
      if (!initialTasks) {
        localStorage.setItem('tasks', '[]');
      }

      let tasks = getDocs();

      for (let i=0; i<tasks.length; i++) {
        createElement(tasks[i]);
      }
    }

    function handleSubmit(e) {
      e.preventDefault();

      var formData = new FormData(e.target);
      var newTask = { 
        id: 'todo-' + Date.now(), 
        name: formData.get('name'), 
        completed: true
      };
      
      addTask(newTask);
    }

    function addTask(newTask) {
      let tasks = getDocs();
      let updatedTasks = [...tasks, newTask];
      
      saveDocs(updatedTasks);
      createElement(newTask);
    }
    
    function deleteTask(element, id) {
      let remainingTasks = tasks = tasks.filter(task => task.id !== id);
      
      saveDocs(remainingTasks);
      list.removeChild(element);
    }

    function editTask(id, newName) {
      let tasks = getDocs();

      let updatedTasks = tasks.map(task => {
        if (task.id === id) {
          return { ...task, name: newName }
        }
        return task;
      })

      saveDocs(updatedTasks);
    }

    function getDocs() {
      return JSON.parse(localStorage.getItem('tasks'));
    }

    function saveDocs(tasks) {
      localStorage.setItem('tasks', JSON.stringify(tasks))
    }
    
    function createElement(task) {
      var input = document.createElement('1input');
      input.classList.add('block');

      input.addEventListener('dblclick', (e) => {
        deleteTask(input, task.id);
      })

      input.addEventListener('change', (e) => {
        editTask(task.id, e.target.value)
      })

      input.value = task.name;
      list.appendChild(input); // (!) append not replace.
    }
  </script>
  
</body>
</html>