<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
      color: #000;
    }
  </style>
</head>
<body>

  <h1>CSS Components</h1>

  <h3>Buttons</h3>
  <ol>
    <li>
      <a href="./button/file-upload-button.html">File upload button</a>
    </li>
    <li>
      <a href="./button/full-size-btn.html">Full-size button</a>
    </li>
    <li>
      <a href="./button/dropdown.html">Dropdown</a>
    </li>
    <li>
      <a href="./button/dropdown-select.html">Dropdown select</a>
    </li>
    <li>
      <a href="./button/filter-buttons.html">Filter buttons</a>
    </li>
    <li>
      <a href="./button/badge.html">Badge</a>
    </li>
    <li>
      <a href="./button/close-btn.html">Close button</a>
    </li>
    <li>
      <a href="./button/toggle-button.html">Toggle button</a>
    </li>
    <li>
      <a href="./button/anime-menu-button.html">Animated menu button</a>
    </li>
  </ol>
  
  <h3>Navigation</h3>
  <ol>
    <li>
      <a href="./nav/nav-bar.html">NavBar</a>
    </li>
    <li>
      <a href="./nav/nav-sub-menu.html">NavBar with sub menu</a>
    </li>
    <li>
      <a href="./nav/header-logo.html">Header with logo</a>
    </li>
    <li>
      <a href="./nav/header-accounts.html">Header with accounts</a>
    </li>
    <li>
      <a href="./nav/side-bar.html">Side bar</a>
    </li>
    <li>
      <a href="./nav/dashboard.html">Dashboard</a>
    </li>
  </ol>

  <h3>Form</h3>
  <ol>
    <li>
      <a href="./form/search-form.html">Search form</a>
    </li>
    <li>
      <a href="./form/login.html">Login form</a>
    </li>
    <li>
      <a href="./form/personal-form.html">Personal form</a>
    </li>
    <li>
      <a href="./form/select-option.html">Select option</a>
    </li>
    <li>
      <a href="./form/color-picker.html">Color picker</a>
    </li>
  </ol>

  <h3>Image</h3>
  <ol>
    <li>
      <a href="./image/card.html">Card</a>
    </li>
    <li>
      <a href="./image/avatar.html">Avatar</a>
    </li>
    <li>
      <a href="./image/scalable-image.html">Scalable image</a>
    </li>
    <li>
      <a href="./image/image-on-overlay.html">Image on overlay</a>
    </li>
    <li>
      <a href="./image/figure.html">Figure</a>
    </li>
    <li>
      <a href="./image/hero-image.html">Hero image</a>
    </li>
    <li>
      <a href="./image/side-by-side.html">Side by side images</a>
    </li>
    <li>
      <a href="./image/article.html">Article</a>
    </li>
  </ol>

  <h3>Modal</h3>
  <ol>
    <li>
      <a href="./modal/modal.html">Active modal</a>
    </li>
  </ol>
  
  <h3>Others</h3>
  <ol>
    <li>
      <a href="./others/table.html">Table</a>
    </li>
    <li>
      <a href="./others/spinner.html">Spinner</a>
    </li>
    <li>
      <a href="./others/progress-bar.html">Progress bar</a>
    </li>
  </ol>
  
</body>
</html>