<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Card</h1>

  <style>
    .card {
      width: 16rem;
      /* 
        box-shadow: x y blur spread color inset 
        x, y is required
      */
      box-shadow: 0 0 10px #ddd;
    }

    img {
      width: inherit;
    }

    .content {
      padding: 0 1rem 1rem;
    }

    .position {
      color: #888;
    }

    .contact-btn {
      border: none;
      background-color: #eee;
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
    }
  </style>

  <div class="card">
    <img src="../../../img/Pumbaa.webp" alt="">
    <div class="content">
      <h3>Pumbaa</h3>
      <p class="position">CEO</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Doloribus in corporis illo.
      </p>
      <button class="contact-btn">Contact</button>
    </div>
  </div>
  
</body>
</html>