<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #ddd;
    }

    .logo {
      margin: 0;
    }

    .btn {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 0 1rem;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  </style>

  <header>
    <button class="btn">&#9776;</button>
    <h3 class="logo">COMPANY</h3>
  </header>

</body>
</html>