<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>aside</h1>
  <p>sub contents of web page</p>

  <main>
    <h1>Main Contents</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Excepturi voluptas possimus amet ratione, ex odio accusantium id tenetur, 
      laudantium facere ut veritatis assumenda. Ipsam voluptatem eum necessitatibus. 
      Qui, asperiores rem.
    </p>
  </main>

  <aside>
    <h3>Recommended articles</h3>
    <ul>
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>
  </aside>

  
</body>
</html>