<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>div</h1>
  <p>divide</p>

  <main>
    <div>
      <h3>Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sapiente ab aliquam autem quasi repellendus ipsum reprehenderit nostrum vitae enim sed tenetur animi inventore assumenda at, iure facere eaque quidem!
      </p>
    </div>
    
    <div>
      <h3>Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sapiente ab aliquam autem quasi repellendus ipsum reprehenderit nostrum vitae enim sed tenetur animi inventore assumenda at, iure facere eaque quidem!
      </p>
    </div>
  </main>
  
</body>
</html>