<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>section</h1>
  <p>each section of web page</p>


  <main>
    <section>
      <h2>Section 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nulla culpa. Ad eveniet facilis ut. Quis corporis dolor qui provident aut numquam optio omnis asperiores tenetur magnam? Natus, ipsum voluptatibus.
      </p>
    </section>
    
    <section>
      <h2>Section 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nulla culpa. Ad eveniet facilis ut. Quis corporis dolor qui provident aut numquam optio omnis asperiores tenetur magnam? Natus, ipsum voluptatibus.
      </p>
    </section>

    <section>
      <h2>Section 3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nulla culpa. Ad eveniet facilis ut. Quis corporis dolor qui provident aut numquam optio omnis asperiores tenetur magnam? Natus, ipsum voluptatibus.
      </p>
    </section>
  </main>
  
</body>
</html>