<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Table</h1>
  <p>table</p>

  <h3>세계의 맥주</h3>
  <table border="1">
    <thead>
      <tr>
        <th>이름</th>
        <th>원산지</th>
        <th>판매중</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>기네스</td>
        <td>아일랜드</td>
        <td>아니오</td>
      </tr>
      <tr>
        <td>하이네켄</td>
        <td>네덜란드</td>
        <td>예</td>
      </tr>
      <tr>
        <td>버드와이저</td>
        <td>미국</td>
        <td>예</td>
      </tr>
    </tbody>
  </table>
  
</body>
</html>