/* Initialze */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, p {
  margin: 10px 0
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
input[type=text] {
  padding: 10px;
  margin: 5px 0
}
.border {
  /* border: 1px dashed red; */
}
.btn {
  padding: 10px;
  cursor: pointer;
  border: none;
}
.pointer {
  cursor: pointer;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}

/* position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.top-right {
  top: 0;
  right: 0;
}

/* width and height */
.width-100 {
  width: 100%;
}
.max-width-800 {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
}

/* flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-33 {
  flex: 33%;
}
.flex-50 {
  flex: 50%
}
.flex-100 {
  flex: 100%;
}
.min-width-50 {
  min-width: 50px
}

/* padding and margin */
.padding-48 {
  padding: 48px 0;
}
.padding-10 {
  padding: 10px;
}
.pd-side-10 {
  padding: 0 10px;
}
.mg-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mg-side-10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* text */
.text-center {
  text-align: center;
}

/* color and background color */
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.bg-offwhite {
  background-color: #ebebeb
}
.text-white {
  color: #fff;
}

/* layer and modal */
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index: 1;
}
.modal {
  position: fixed; 
  top: 100px;
  left: 50%;
  max-width: 500px;
  width: 100%;
  transform: translateX(-50%);
  padding: 15px;
  z-index: 1;
  display: none;
}

/* background image and text*/
.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* carousel */
.indicator {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.indicator .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  display: inline-block;
  margin: 0 2px
}

/* Responsive */
.hide-mobile {
  display: none;
}
.active {
  display: block!important
}

/* media */
@media (min-width: 501px) {
  .flex-col {
    flex-direction: row;
  }
  .hide-mobile {
    display: block;
  }
  .only-mobile {
    display: none;
  }
}

