<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    * {
      box-sizing: border-box;
    }

    label {
      display: block;
      font-weight: 600;
    }

    input {
      width: 100%;
    }

    #canvas {
      width: 100%;
      background-color: #333;
    }
  </style>

  <h1>JS Image Filter</h1>

  <p>
    <input type="file" name="" id="file-input">
  </p>

  <canvas id="canvas"></canvas>

  <nav>
    <label for="brightness">Brigtness</label>
    <input type="range" name="brightness" id="brightness" min="0" max="200" value="100">
  
    <label for="saturation">Saturation</label>
    <input type="range" name="saturation" id="saturation" min="0" max="200" value="100">
  
    <label for="inversion">Inversion</label>
    <input type="range" name="inversion" id="inversion" min="0" max="100" value="0">
  
    <label for="blur">Blur</label>
    <input type="range" name="blur" id="blur" min="0" max="10" value="0">
  </nav>

  <script src="./script.js"></script>

</body>

</html>