<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>See more</h1>

  <style>
    #btn {
      color: #888;
      cursor: pointer;
    }
  </style>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing<span id="ellipsis">...</span>
  </p>

  <span id="btn">See more</span>

  <script>  
    var ellipsis = document.getElementById("ellipsis");
    var btn = document.getElementById("btn");
    
    btn.addEventListener("click", handleClick);

    function handleClick() {
      var data = ` elit. Odit architecto tenetur libero, 
      eos deleniti ratione repudiandae perspiciatis culpa expedita, 
      debitis a ipsa corporis cumque cum. Sunt iure nam unde facilis!`;

      ellipsis.textContent = data;
      
      btn.remove();
    }
  </script>

</body>
</html> 