<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab</title>
</head>
<body>

  <h1>Subscribe button</h1>

  <button id="btn">Subscribe</button>

  <script>
    var btn = document.getElementById("btn");
    var subscribed = false;

    btn.addEventListener("click", handleClick);

    function handleClick() {
      console.log(subscribed);

      if (!subscribed) {
        btn.textContent = "Subscribed";
        subscribed = true;
      } else {
        btn.textContent = "Subscribe";
        subscribed = false;
      }
    }
  </script>
  
</body>
</html>