<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
      color: #000;
    }
  </style>
</head>
<body>


  <h1>CSS Components</h1>
  <h3>Form</h3>
  <ul>
    <li>
      <a href="components/form/search.html">Simple search form</a>
    </li>
    <li>
      <a href="components/form/designed-search.html">designed search form</a>
    </li>
    <li>
      <a href="components/form/personal.html">Personal</a>
    </li>
    <li>
      <a href="components/form/login.html">Login</a>
    </li>
  </ul>

  <h3>Navigation</h3>
  <ul>
    <li>
      <a href="components/nav/top-nav.html">Top navigation</a>
    </li>
    <li>
      <a href="components/nav/dropdown-nav.html">Top nav with sub menu</a>
    </li>
    <li>
      <a href="">Side bar</a>
    </li>
    <li>
      <a href="">Menu drawer</a>
    </li>
  </ul>

  <h3>image</h3>
  <ul>
    <li>
      <a href="components/image/avatar.html">Avatar</a>
    </li>
    <li>
      <a href="components/image/scalable.html">Scalable</a>
    </li>
    <li>
      <a href="components/image/overlay.html">Overlay</a>
    </li>
    <li>
      <a href="components/image/hero.html">Hero</a>
    </li>
    <li>
      <a href="components/image/modal.html">Modal</a>
    </li>
  </ul>

  <h3>Animation</h3>
  <ul>
    <li>
      <a href="components/animation/spinner.html">Spinner</a>
    </li>
    <li>
      <a href="components/animation/orbit.html">Orbit</a>
    </li>
    <li>
      <a href="components/animation/snowflakes.html">Snowflakes</a>
    </li>
  </ul>

  <h3>Others</h3>
  <ul>
    <li>
      <a href="components/table.html">Table</a>
    </li>
    <li>
      <a href="components/dropdown.html">Dropdown</a>
    </li>
    <li>
      <a href="components/toggle-button.html">Toggle button</a>
    </li>
    <li>
      <a href="components/modal.html">Modal</a>
    </li>
    <li>
      <a href="components/accordion.html">Accordion</a>
    </li>
    <li>
      <a href="components/tab-content.html">Tab Content</a>
    </li>
  </ul>
  
</body>
</html>