<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <style>
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0 0 0 / 0.8);
    }

    .modal {
      /* border: 1px dashed #fff; */
      display: block;
      max-width: 24rem;
      margin: 100px auto 0;
    }

    img {
      width: 100%;
    }

    .text {
      color: #ddd;
      text-align: center;
      padding: 0 2rem;
    }
  </style>

  <h1>Modal image</h1>

  <div class="overlay">
    <div class="modal">
      <img src="../../img/homies.jpg" alt="">
      <div class="text">
        <h3>Timon and Pumbaa</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Tempora, recusandae accusantium expedita illum tenetur molestias culpa quaerat eos est! 
          Adipisci, officia! Rem esse aliquid in voluptatem illo. 
          Obcaecati, iure provident!
        </p>
      </div>
    </div>
  </div>

</body>
</html>