<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Block promotion</h1>

  <style>
    #promotion {
      background-color: #333;
      color: #fff;
      padding: 1rem;
    }

    #block-btn, #close-btn {
      padding: 0.5rem 0.75rem;
    }
  </style>

  <div id="promotion">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Eos eveniet maxime iste vitae odit iure totam quaerat, amet, 
      minus voluptatum quasi non ipsa libero provident illum, 
      recusandae nesciunt ratione. Tempore!
    </p>
    <button id="close-btn">Close</button>
    <button id="block-btn">Do not show anymore</button>
  </div>

  <script>
    var closeBtn = document.getElementById("close-btn");
    var blockBtn = document.getElementById("block-btn");
    var promotion = document.getElementById("promotion");

    // when page is loaded
    if (localStorage.getItem("blockedAt")) {
      promotion.remove();
    }

    // close button
    closeBtn.addEventListener("click", function () {
      promotion.remove();
    })

    // block button
    blockBtn.addEventListener("click", function () {
      promotion.remove()
      localStorage.setItem("blockedAt", new Date());
    })
  </script>
</body>
</html>