<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta username="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    a {
      color: #000;
    }
  </style>

  <h1>SPA structure</h1>

  <nav>
    <ul>
      <li>
        <a href="#/">Home</a>
      </li>
      <li>
        <a href="#/posts">Posts</a>
      </li>
      <li>
        <a href="#/contact">Contact</a>
      </li>
    </ul>
  </nav>

  <div id="main"></div>

  <script>
    /*
      * Prerequisites for this example

      # SPA (Single Page Application) structrue
      opposite concept to MPA (Multi Page Application).
      Update page using JavaScript.
      It is fast and smooth


      # URL (Uniform Resource Locator)
      Website/server address
      e.g) https://google.com/news/sports
      
      1 URL structure
      1) Path
      resource's path
      - example
      https://google.com/news/sports
      
      2) Query string
      A send small data added inside url.
      It is used to specify request.
      key, value pair.
      
      - How to use
      path?key=value

      - example
      https://google.com/news/sports?page=1
      
      3) Location hash
      It is used to find specific spot in web page.
      
      - how to use
      url#hash

      - example
      https://google.com/news/sports/?page=1#lastArticle
      

      # Router
      It Connects request url with proper resource.
    */


    var main = document.getElementById("main");

    // document load 
    document.addEventListener("DOMContentLoaded", hashRouter);
    // hash has been changed
    window.addEventListener("hashchange", hashRouter);

    // Hash Router
    function hashRouter() {
      // location hash
      console.log(location.hash);

      // Request URL
      var url = location.hash.substring(1);

      // url object
      var urlData = parseUrl(url);

      console.log(urlData);

      // a group of route
      var routes = [
        { path: "/", element: Home },
        { path: "/posts", element: Posts },
        { path: "/post", element: Post },
        { path: "/contact", element: Contact },
      ]

      // routing
      for (var i = 0; i < routes.length; i++) {
        var route = routes[i];

        if (route.path === urlData.path) {
          main.innerHTML = route.element(urlData.query);
        }
      }
    }

    // Parsing url
    function parseUrl(url) {
      var hasQuery = url.indexOf("?") > -1;
      var path, query;

      if (hasQuery) {
        // url.substring(startIndex, lastIndex)
        path = url.substring(url.indexOf("?"), -1);
        query = url.substring(url.indexOf("?"));
      } else {
        path = url;
        query = null;
      }

      return { url, path, query };
    }

    // Each pages
    function Home() {
      return (`
        <h3>Home</h3>
        <p>Welcome to my blog.</p>
      `);
    }

    function Posts() {
      return (`
        <h3>Posts</h3>
        <ul>
          <li>
            <a href="#/post?postId=p1">Second post</a>
          </li>  
          <li>
            <a href="#/post?postId=p0">First post</a>
          </li>  
        </ul>
      `)
    }

    function Post(query) {
      return (`
        <h3>Post</h3>
        <p>${query}</p>
      `)
    }

    function Contact() {
      return (`
        <h3>Contact</h3>
        <p>john@example.com</p>
      `)
    }

  </script>

</body>

</html>