<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <p>full screen touch slider</p>

  <style>
    body {
      margin: 0;
      /* overflow: hidden; */
      width: 100vw;
      height: 100vh;
    }

    #container {
      width: 100vw;
      height: 300vh;
    }

    .item {
      width: 100vw;
      height: 100vh;
    }

    .a {
      background-color: #888;
    }

    .b {
      background-color: #333;
    }

    .c {
      background-color: #000;
    }
  </style>

  <div id="container">
    <div class="item a"></div>
    <div class="item b"></div>
    <div class="item c"></div>
  </div>

  <script>
    var y1, y2 = 0;
    var index = 0;
    var container = document.getElementById("container");
    var h = innerHeight;

    document.addEventListener('touchstart', touchStartHandler);
    document.addEventListener('touchmove', touchMoveHandler);
    document.addEventListener('touchend', touchEndHandler);


    document.documentElement.scrollTop = 0;

    function touchStartHandler(e) {
      y1 = e.touches[0].clientY;
    };

    function touchMoveHandler(e) {
      y2 = e.touches[0].clientY;

      container.style.transform = `translateY(-${(index * h) - (y2 - y1)}px)`;
    };

    function touchEndHandler() {
      console.log(y1, y2);
      
      // up
      if (y2 - y1 > 50) {
        index--;
      }

      // down
      if (y2 - y1 < -50) {
        index++;
      }

      container.style.transform = `translateY(-${index * h}px)`;
    };
  </script>
</body>
</html>