<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Search Form</h1>

  <style>
    form {
      /* border: 1px dashed; */
      display: flex;
      margin: auto;
      max-width: 24rem;
    }
    input {
      padding: 0.5rem;
      flex-grow: 1;
      border: 1px solid #ddd;
    }
    button {
      cursor: pointer;
    }
  </style>
  
  <form action="#">
    <input type="text" placeholder="Search Google"> 
    <button type="submit">Submit</button>
  </form> 
  

</body>
</html>