<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Survey</h1>

  <style>
    .checkbox {
      display: none;
    }
    
    .option {
      /* layout */
      display: block;
      margin-bottom: 0.5rem;
      /* size */
      padding: 0.5rem;
      /* design */
      border: 2px solid #ddd;
      border-radius: 0.25rem;
    }

    .checkbox:checked + .option {
      border: 2px solid #333;
    }
  </style>

  <h3>Which phone do you want to purchase?</h3>

  <input type="radio" name="phone" id="a" class="checkbox">
  <label for="a" class="option">iPhone 15 Pro</label>

  <input type="radio" name="phone" id="b" class="checkbox">
  <label for="b" class="option">Galaxy S24</label>

  <input type="radio" name="phone" id="c" class="checkbox">
  <label for="c" class="option">Pixel Pro 8</label>
  
  <input type="radio" name="phone" id="d" class="checkbox">
  <label for="d" class="option">Others</label>

</body>
</html>