extends layout

block content
  h1= title

  if post
    form(action=`/p/${post.title}/update` method="POST") 
      .form-group
        input(type="text" name="title" placeholder="title" value=post.title.split('.')[0] readonly)
      .form-group 
        textarea(name="content", cols="30", rows="10" required)=post.content
      .form-group 
        button Submit

  else
    form(action="/create" method="POST") 
      .form-group
        input(type="text" name="title" placeholder="title" pattern="[a-z]{3,}" required)
      .form-group 
        textarea(name="content", cols="30", rows="5" placeholder="..." required)
      .form-group 
        button Submit
