<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
    }

    .logo {
      margin: 0;
    }

    .btn {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      font-size: 2rem;
      padding: 0 0.75rem;
      background-color: transparent;
      border: none;
    }
  </style>

  <header>
    <button class="btn">&#9776;</button>
    <h3 class="logo">COMPANY NAME</h3>
  </header>

</body>
</html>