<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #eee;
      width: 16rem;
      height: 100vh;
      display: none;
    }

    .logo {
      text-align: center;
    }

    .nav-link {
      color: #000;
    }

    main {
      margin-left: 0;
      padding: 0 1rem;
    }

    /* Show sidebar on medium size */
    @media (min-width: 768px) {
      nav {
        display: block;
      }
      
      main {
        margin-left: 16rem;
      }
    }
  </style>

  <nav>
    <h1 class="logo">Logo</h1>
    <ul>
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
    </ul>
  </nav>
  
  <main>
    <h1>Side Bar</h1>
    <p>...</p>
  </main>

</body>
</html>