<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    #side-bar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(8px);
      transition: 0.2s;
      z-index: 1;
    }

    #side-bar ul {
      padding: 2rem;
    }

    #close {
      float: right;
      background-color: transparent;
      border: none;
      font-size: 2rem;
      padding: 1rem;
    }

    #side-bar.hidden {
      left: -100vw;
    }
  </style>

  <h1>Side Bar</h1>

  <button id="open">Open</button>

  <nav id="side-bar" class="hidden">
    <button id="close">&times;</button>
    <ul>
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
    </ul>
  </nav>

  <script>
    var sideBar = document.getElementById("side-bar");
    var open = document.getElementById("open");
    var close = document.getElementById("close");

    open.addEventListener("click", function () {
      sideBar.classList.remove("hidden");
    })

    close.addEventListener("click", function () {
      sideBar.classList.add("hidden");
    })
  </script>

</body>

</html>