<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    body {
      height: calc(100vh + 100px);
    }

    #header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      border-bottom: 1px solid #ddd;
      backdrop-filter: blur(8px);
      transition: top 0.2s;
    }

    .header-inner {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
    }
    
    main {
      margin-top: 4rem;
    }
    
    #header.hidden {
      top: -50px;
    }
  </style>

  <header id="header">
    <div class="header-inner">
      Header
    </div>
  </header>

  <main>
    <h1>Switch NavBar</h1>
    <p>...</p>
  </main>

  <script>
    var header = document.getElementById('header');
    var prevScrollTop = 0;

    window.addEventListener('scroll', function () {
      var scrollTop = document.documentElement.scrollTop;

      // value in a previous point
      console.log('previous scrollTop:', prevScrollTop);
      console.log('scrollTop', scrollTop);

      if (scrollTop > prevScrollTop) { // scrolling down
        header.classList.add('hidden');
      } else {
        header.classList.remove('hidden');
      }

      prevScrollTop = scrollTop;
    })
  </script>

</body>

</html>