<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .block { display: block }
  </style>

  <h1>What needs to be done?</h1>

  <form action="" id="form">
    <h3>Form</h3>
    <input type="text" name="name">
    <button type="submit">Add</button>
  </form>
  
  <h3>List</h3>
  <div id="list"></div>

  <script>

    let list = document.getElementById('list');
    let form = document.getElementById('form');
    let tasks;

    window.addEventListener('DOMContentLoaded', getTasks);
    form.addEventListener('submit', handleSubmit);

    function getDocs() {
      if (!localStorage.getItem('tasks')) {
        localStorage.setItem('tasks', '[]');
      }

      tasks = JSON.parse(localStorage.getItem('tasks'));

      return tasks;
    }

    function saveDocs() {
      localStorage.setItem('tasks', JSON.stringify(tasks))
    }

    function getTasks() {
      tasks = getDocs();

      for (let i=0; i<tasks.length; i++) {
        createElement(tasks[i]);
      }
    }

    function handleSubmit(e) {
      e.preventDefault();

      var formData = new FormData(e.target);
      var newTask = { id: 'todo-' + Date.now(), name: formData.get('name'), completed: true };
      
      addTask(newTask);
    }

    function addTask(newTask) {
      tasks = JSON.parse(localStorage.getItem('tasks'));
      
      tasks.push(newTask);
      saveDocs();

      createElement(newTask);
    }
    
    function deleteTask(element, id) {
      tasks = tasks.filter(task => task.id !== id);
      
      saveDocs();
      list.removeChild(element);
    }
    
    function createElement(task) {
      var input = document.createElement('input');
      input.classList.add('block');

      input.addEventListener('dblclick', (e) => {
        deleteTask(input, task.id);
      })

      input.addEventListener('change', (e) => {
        editTask(task.id)
      })

      input.value = task.name;
      list.appendChild(input); // (!) append not replace.
    }

    function editTask(id) {
      tasks = JSON.parse(localStorage.getItem('tasks'));

      let updatedTasks = tasks.map(task => {
        if (task.id) {}
      })
    }
  </script>
  
</body>
</html>