<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    #canvas {
      border: 1px solid;
      max-width: 100%;
    }
  </style>

  <h1>Image Editor</h1>

  <input type="file" name="" id="file-input">

  <ul>
    <li>
      <label for="brightness">Brigtness</label>
      <input type="range" name="brightness" id="brightness" min="0" max="200" value="100">
    </li>
    <li>
      <label for="saturation">Saturation</label>
      <input type="range" name="saturation" id="saturation" min="0" max="200" value="100">
    </li>
    <li>
      <label for="inversion">Invert</label>
      <input type="range" name="inversion" id="inversion" min="0" max="100" value="0">
    </li>
    <li>
      <label for="blur">Blur</label>
      <input type="range" name="blur" id="blur" min="0" max="10" value="0">
    </li>
  </ul>


  <canvas id="canvas" width="300" height="300"></canvas>

  <script>

    let canvas = document.getElementById('canvas');
    let ctx = canvas.getContext('2d');

    let brightnessInput = document.getElementById('brightness');
    let saturationInput = document.getElementById('saturation');
    let inversionInput = document.getElementById('inversion');
    let blurInput = document.getElementById('blur');

    let fileInput = document.getElementById('file-input');
    let image = null;
    let filter = {};

    fileInput.addEventListener('change', createURL);

    brightnessInput.addEventListener('change', (e) => {
      filter.brightness = e.target.value + '%';
      applyFilter()
    })

    saturationInput.addEventListener('change', (e) => {
      filter.saturate = e.target.value + '%';
      applyFilter()
    })

    inversionInput.addEventListener('change', (e) => {
      filter.invert = e.target.value + '%';
      applyFilter();
    })

    blurInput.addEventListener('change', (e) => {
      filter.blur = e.target.value + 'px';
      applyFilter()
    })

    function applyFilter() {
      
      let value = Object.keys(filter).map(name => {
        return `${name}(${filter[name]})`
      })

      ctx.filter = value.join(' ');
      ctx.drawImage(image, 0, 0);

      console.log(ctx.filter);
    }

    function createURL(e) {
      
      let file = e.target.files[0];
      let src = URL.createObjectURL(file);

      drawImage(src)
    }

    function drawImage(src) {
      image  = new Image();
      image.setAttribute('src', src);

      
      image.addEventListener('load', (e) => {
        canvas.width = image.width;
        canvas.height = image.height;

        ctx.drawImage(image, 0, 0);
      })
    }

  </script>
  
</body>
</html>