<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JavaScript Components</title>
  <style>
    a {
      color: #000;
    }
  </style>
</head>
<body>

  <h1>JavaScript Components</h1>
  
  <h3>Navigation</h3>
  <ul>
    <li>
      <a href="./nav/nav.html">Top Navigation</a>
    </li>
    <li>
      <a href="./nav/side-bar.html">Side Bar</a>
    </li>
    <li>
      <a href="./nav/drawer.html">Drawer</a>
    </li>
    <li>
      <a href="./nav/transparent.html">
        Transparent Nav
      </a>
    </li>
  </ul>

  <h3>Form</h3>
  <ul>
    <li>
      <a href="./form/contact.html">Contact form</a>
    </li>
    <li>
      <a href="./form/validate.html">Validation</a>
    </li>
    <li>
      <a href="./form/sign-up.html">Sign Up</a>
    </li>
  </ul>

  <h3>Image</h3>
  <ul>
    <li>
      <a href="./image/gallery.html">Gallery</a>
    </li>
    <li>
      <a href="./image/modal.html">Modal</a>
    </li>
    <li>
      <a href="./image/carousel.html">Carousel</a>
    </li>
    <li>
      <a href="./image/auto-carousel.html">Auto Carousel</a>
    </li>
    <li>
      <a href="./image/round-carousel.html">Infinite Carousel</a>
    </li>
  </ul>

  <h3>Others</h3>
  <ul>
    <li>
      <a href="./calendar.html">Calendar</a>
    </li>
    <li>
      <a href="./clock.html">Clock</a>
    </li>
    <li>
      <a href="./accordion.html">Accordion</a>
    </li>
    <li>
      <a href="./tab-content.html">Tab content</a>
    </li>
    <li>
      <a href="./modal.html">Modal</a>
    </li>
    <li>
      <a href="./progress.html">Progress</a>
    </li>
    <li>
      <a href="./top-button.html">Top button</a>
    </li>
    <li>
      <a href="./likes.html">Likes button</a>
    </li>
    <li>
      <a href="./see-more.html">See more</a>
    </li>
  </ul>

  <h3>API</h3>
  <ul>
    <li>
      <a href="./drag-drop.html">Drag & Drop</a>
    </li>
    <li>
      <a href="./cart.html">
        Shopping Cart
      </a>
    </li>
    <li>
      <a href="./ajax.html">
        AJAX
      </a>
    </li>
    <li>
      <a href="./back-btn.html">Back button</a>
    </li>
  </ul>

  <h3>Fun</h3>
  <ul>
    <li>
      <a href="./text-editor.html">Text Editor</a>
    </li>
    <li>
      <a href="./image-editor.html">Image Editor</a>
    </li>
    <li>
      <a href="./spa/index.html">SPA</a>
    </li>
    <li>
      <a href="./sticky-notes.html">Sticky Notes</a>
    </li>
    <li>
      <a href="./virtual-kb/index.html">Virtual Keyboard</a>
    </li>
  </ul>

  <p>Drag, Touch event also can be added!</p>
  
</body>
</html>