* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
label {
  display: block;
}
input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
}
input[type=checkbox] {
  width: 2rem;
  height: 2rem;
}
.btn {
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
  border: none;
}
.btn-light {
  background-color: #f1f1f1;
}
.btn-secondary {
  background-color: #555;
  color: #fff;
}
.btn-danger {
  background-color: #ca3c3c;
  color: #fff
}
.text-center {
  text-align: center;
}
*:focus {
  outline: 4px dashed #228bec
}

.w-full {
  width: 100%
}

.flex {
  display: flex;
  /* flex-wrap: wrap; */
}
.flex-equal {
  gap: 0.25rem;
}
.flex-equal > * {
  flex-basis: 100%;
}
.items-center {
  align-items: center;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}


