* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  /* font-size: 20px; */
}
h1, h2, h3, p {
  margin: 10px 0;
}
ul {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}

input[type="text"] {
  padding: 10px;
}

.btn {
  padding: 13px 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #888;
}
.btn-secondary {
  border: none;
  background-color: #555;
  color: #fff;
}
.btn-danger {
  border: none;
  background-color: #ca3c3c;
  color: #fff
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn-group .btn {
  flex-basis: 100%;
}
.btn-group .btn:not(:first-child) {
  margin-left: 10px;
}

.p-side-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.p-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.p-5 {
  padding: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.m-left-5 {
  margin-left: 5px;
}

*:focus {
  outline: 3px dashed #228bec
}
.cb-large {
  width: 24px;
  height: 24px;
}