<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    .container {
      display: flex;
    }

    input {
      padding: 0.5rem;
      flex-grow: 1;
    }
    
    .hidden {
      display: none;
    }
  </style>

  <h1>Newsletter</h1>

  <form action="/server" id="form">
    <div class="container">
      <input type="text" name="email" placeholder="johnDoe@example.com">
      <button class="btn">Subscribe</button>
    </div>
  </form>

  <p id="done" class="hidden">
    Thank you for subscribing us!
  </p>

  <script>
    var form = document.getElementById("form");
    var done = document.getElementById("done");
    var patt = /[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$/
    
    // submit event: submitting the form
    form.addEventListener("submit", handleSubmit);

    function handleSubmit(e) {
      // prevent submitting the form to validate in client-side
      e.preventDefault();
      
      var email = form.elements["email"].value;

      try {

        if (email.match(patt) == null) {
          throw "Invalid email";
        }
        
        form.classList.add("hidden");
        done.classList.remove("hidden");
      
      } catch (error) {
        alert(error)
      }
    }
  </script>

</body>

</html>