<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .progress {
      width: 200px;
      height: 5px;
      background-color: #ddd;
    }

    .bar {
      background-color: #000;
      height: 100%;
      /* animation */
      animation-name: fill;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }

    @keyframes fill {
      from {
        width: 0;
      } to {
        width: 200px;
      }
    }
  </style>

  <h1>Progress bar</h1>

  <div class="progress">
    <div class="bar"></div>
  </div>
  
</body>
</html>