<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .btn {
      width: 100%;
      padding: 0.5rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
    }

    .btn {
      text-align: left;
    }

    .btn.active {
      background-color: #888;
    }
    .content.active {
      max-height: 200px;
    }
  </style>
  
  <h1>Accordion</h1>

  <ul>
    <li>
      <button class="btn" onclick="f(0)">button</button>
      <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Recusandae, libero temporibus eius saepe ullam voluptatibus 
        in consequatur cum maiores tempore dolore iste atque qui 
        officiis velit labore doloribus sint. Dolor.
      </div>
    </li>
    <li>
      <button class="btn" onclick="f(1)">button</button>
      <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Recusandae, libero temporibus eius saepe ullam voluptatibus 
        in consequatur cum maiores tempore dolore iste atque qui 
        officiis velit labore doloribus sint. Dolor.
      </div>
    </li>
    <li>
      <button class="btn" onclick="f(2)">button</button>
      <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
      </div>
    </li>
  </ul>

  <script>
    var btns = document.getElementsByClassName("btn");
    var contents = document.getElementsByClassName("content");

    function f(index) {
      btns[index].classList.toggle("active");
      contents[index].classList.toggle("active");
    }
  </script>
  
</body>
</html>