<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Block promotion</h1>

  <style>
    #promotion {
      background-color: #ddd;
      padding: 1rem;
    }

    #block-btn, #close-btn {
      padding: 0.5rem 0.75rem;
    }
  </style>

  <div id="promotion">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Eos eveniet maxime iste vitae odit iure totam quaerat, amet, 
      minus voluptatum quasi non ipsa libero provident illum, 
      recusandae nesciunt ratione. Tempore!
    </h1>
    <button id="close-btn">Close</button>
    <button id="block-btn">Do not show anymore</button>
  </div>

  <script>

    var closeBtn = document.getElementById('close-btn');
    var blockBtn = document.getElementById('block-btn');
    var promotion = document.getElementById('promotion');

    if (localStorage.getItem('blockedAt')) {
      promotion.remove()
    }

    closeBtn.addEventListener('click', () => {
      promotion.remove()
    })

    blockBtn.addEventListener('click', () => {
      promotion.remove()
      localStorage.setItem('blockedAt', new Date().toLocaleString());
    })
  </script>

  
</body>
</html>