<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Drag & Drop</h1>

  <style>
    #drop-zone {
      border: 4px dashed #ddd;
      padding: 4rem;
      text-align: center;
    }
  </style>

  <div id="drop-zone">
    <p>Drag one or more files to this <i>drop zone</i>.</p>
  </div>

  <script>
    var dropZone = document.getElementById('drop-zone');

    dropZone.addEventListener('dragover', dragOverHandler);
    dropZone.addEventListener('drop', dropHandler);

    function dropHandler(e) {
      // prevent default behavior (file is opened)
      e.preventDefault();
    
      console.log('File(s) dropped!');

      /*
        FileList
        - This interface was an attempt to create an unmodifiable list

        - only continues to be supported to not break code that is already using it.
        
        - Modern APIs use types 
        that wrap around ES array types
        instead
        
        - treat them like ES arrays
      */

      var files = Array.from(e.dataTransfer.files);

      console.log(files);
      
      // ... Server interacation code

      alert('Submitted!');
    }
    
    function dragOverHandler(e) {
      // prevent default behavior (file is opened)
      e.preventDefault();

      console.log('File(s) is moving in drop zone');
    }
  </script>

</body>
</html>