<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .hidden {
      display: none;
    }
  </style>

  <h1>Filter</h1>

  <button data-filter="drink" onclick="setFilter('drink')">Drink</button>
  <button data-filter="food" onclick="setFilter('food')">Food</button>
  <button data-filter="beverage" onclick="setFilter('beverage')">Beverage</button> 

  <ul>
    <li data-category="drink">Espresso</li>
    <li data-category="drink">Frappuccino</li>
    <li data-category="drink">Blended</li>
    <li data-category="food">Bread</li>
    <li data-category="beverage">Mug & Glass</li>
  </ul>

  <script>
    var items = document.querySelectorAll("li[data-category]");
    var buttons = document.querySelectorAll("button[data-filter]");

    setFilter("drink");

    function setFilter(filter) {
      console.log(filter)

      for (var i=0; i<buttons.length; i++) {
        if (buttons[i].getAttribute("data-filter") === filter) {
          buttons[i].disabled = true;
        } else {
          buttons[i].disabled = false
        }
      }

      for (var i=0; i<items.length; i++) {
        if (items[i].getAttribute("data-category") === filter) {
          items[i].classList.remove("hidden")
        } else {
          items[i].classList.add("hidden")
        }
      }
    }
  </script>

</body>
</html>