<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .checkbox {
      display: none;
    }

    label {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      border-radius: 99px;
      margin: 0.25rem;
      border: 2px solid #ddd;
      color: #888;
    }

    label::before {
      content: "+ ";
    }

    .checkbox:checked + label {
      background-color: #0ef;
      color: #fff;
    }

    .checkbox:checked + label::before {
      background-color: #000;
      color: #fff;
      content: "";
    }
  </style>

  <h1>Multiple select</h1>

  <p>Choose all skills you have.</p>
  <input type="checkbox" id="a" class="checkbox" checked>
  <label for="a">HTML</label>

  <input type="checkbox" id="b" class="checkbox" checked>
  <label for="b">CSS</label>

  <input type="checkbox" id="c" class="checkbox">
  <label for="c">JavaScript</label>

  <input type="checkbox" id="d" class="checkbox">
  <label for="d">React</label>

  <input type="checkbox" id="e" class="checkbox">
  <label for="e">TypeScript</label>

  <input type="checkbox" id="f" class="checkbox">
  <label for="f">jQuery</label>

</body>
</html>