<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <style>
    #container {
      text-align: center;
      color: #888;
      transition: all 1s;
      transform: translateY(100px);
      opacity: 0;
    }

    #container.active {
      transform: translateY(0);
      opacity: 1;
    }
  </style>

  <h1>Pop on scrolling</h1>
  <button id="btn">GO</button>

  <h1 id="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Excepturi repellat tempora earum nam quidem voluptatum, 
    quae autem? 
  </h1>

  <script>
    var container = document.getElementById("container");

    btn.addEventListener("click", function (e) {
      container.classList.add("active");
    })
  </script>

</body>

</html>