<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .item {
      display: none;
    }

    .active {
      display: block;
    }
  </style>

  <h1>Tab contents</h1>

  <div class="btn-container">
    <button class="btn" disabled onclick="f(0)">Guinness</button>
    <button class="btn" onclick="f(1)">Heineken</button>
    <button class="btn" onclick="f(2)">Budwiser</button>
  </div>

  <div class="container">
    <div class="item active">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Molestias vitae similique laborum a dolorem. 
      Quam rem porro perspiciatis repellat, 
      tenetur dolore maxime in dolores similique a ad magni nihil unde!
    </div>
    <div class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Molestias vitae similique laborum a dolorem. 
    </div>
    <div class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    </div>
  </div>

  <script>
    var btns = document.getElementsByClassName("btn");
    var items = document.getElementsByClassName("item");
    var prevIndex = 0;

    function f(index) {

      // access previous and this index
      console.log("previous index:", prevIndex);
      console.log("this index:", index);

      btns[prevIndex].disabled = false;
      btns[index].disabled = true;
      items[prevIndex].classList.remove("active");
      items[index].classList.add("active");

      prevIndex = index;
    }
  </script>
  
</body>
</html>