<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Table</h1>

  <style>
    table {
      /* border: 1px dashed; */
      /* 
        default
        border-collapse: seperate; 
      */
      border-collapse: collapse;
    }

    caption {
      text-align: left;
      caption-side: bottom;
    }

    thead tr {
      border-bottom: 1px solid;
    }
    
    th, td {
      padding: 0.5rem;
    }

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    td[scope=row] {
      font-weight: bold;
    }
  </style>

  <table>
    <caption>* table caption</caption>
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Origin</th>
        <th scope="col">Available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>Guinness</td>
        <td>Ireland</td>
        <td>No</td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td>Heineken</td>
        <td>Netherlands</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>Budwiser</td>
        <td>USA</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>

</body>
</html>